@model TrainingPlanner.IstezanjePopis

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="sidebar"></div>
<div id=@(Model.IstezanjeSlike.Count > 0 ? "contentImg" : "content")>
    <div id=@(Model.IstezanjeSlike.Count > 0 ? "inputAreaImgs" : "inputArea") style="float: left;">
        <h2 class="green">Detalji istezanja</h2>

        <div>
            <div class="marginInputBottom">@Html.Label("Naziv", new { @class = "smallFont" })</div>
            @Html.DisplayFor(model => model.Naziv)
        </div>

        <div class="marginText maxWidth">
            <div class="marginInputBottom">@Html.Label("Info", new { @class = "smallFont marginInputBottom" })</div>
            @if (Model.Info == null)
            {
                <text>--</text>
            }
            else
            {
                @Html.DisplayFor(model => model.Info)
            }
        </div>

        @if (ViewData["trening"] != null)
        {
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajTrening", "Home", new { id = (int)ViewData["treningId"], DodajVjezbu = 1 })#@ViewData["counter"]@ViewData["id"]">Natrag na trening</a>
        }
        @if (ViewData["izmijeni"] != null)
        {
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("IzmijeniTrening", "Home", new { id = (int)ViewData["treningId"] })#@ViewData["counter"]@ViewData["id"]">Natrag na trening</a>
        }
        @if (ViewData["dodajPredlozak"] != null)
        {
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajPredlozakIstezanja", "Home", new { id = (int)ViewData["templateId"]})">Natrag na predlozak</a>
        }
        @if (ViewData["izmijeniPredlozak"] != null)
        {
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("IzmijeniPredlozakIstezanja", "Home", new { id = (int)ViewData["templateId"]})">Natrag na predlozak</a>
        }
        @if (ViewData["detaljiPredlozak"] != null)
        {
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DetaljiPredlozakIstezanja", "Home", new { id = (int)ViewData["templateId"]})">Natrag na predlozak</a>
        }
        @if (ViewData["trening"] == null && ViewData["izmijeni"] == null && ViewData["dodajPredlozak"] == null && ViewData["izmijeniPredlozak"] == null && ViewData["detaljiPredlozak"] == null)
        {
            @Html.ActionLink("Popis istezanja", "IstezanjePopis", null, new { @class = "marginHeadlineTop marginTextBottom button_example" })
        }
    </div>

    @if (Model.IstezanjeSlike.Count > 0)
    {
        <div id="inputAreaImages" style="float: left;">
            <h2 style="padding-left:15px" class="green">Slike istezanja</h2>
            @foreach (var item in Model.IstezanjeSlike)
            {
                <div style="float: left; display: block; clear:right; height:260px;" class="marginHeadline">
                    <div><a href="~/Content/VelikeSlike/@item.IstezanjeSlikaIme" target="_blank"><img class="marginLeft" src="@Url.Content(String.Format("~/Content/VelikeSlike/{0}", item.IstezanjeSlikaIme))" /></a></div>
                </div>
            }
        </div>
    }
</div>