@using TrainingPlanner
@model TrainingPlanner.Models.TreningDataModel

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

<h2>Trening</h2>

<div id="inputAreaTableHome" class="defaultFont">
<p class="bigFont marginHeadline">@Model.ClanIme @Model.ClanPrezime</p>
        <table class="responstable">
            <tr class="smallFont">
                <td style="width:30%">
                    @Html.DisplayFor(x => x.TreningImeTreninga)
                </td>
                <td style="width:30%">
                    @Html.DisplayFor(x => x.TreningDatum)
                </td>
                <td style="width:30%">
                    @Html.DisplayFor(x => x.TreningTip)
                </td>
            </tr>
        </table>
</div>

@if (Model.ListaZagrijavanja == null)
{ }
else if (Model.ListaZagrijavanja.ToList().Count == 0)
{ }
else
{
<div id="inputAreaTableHome" class="defaultFont">
<p class="bigFont marginHeadline">Zagrijavanje</p>
        <table class="responstable">
            <thead><tr><th>Naziv</th><th>Puls</th><th>Tempo</th><th>Napomena</th></tr></thead>
            @foreach (var zagrijavanje in Model.ListaZagrijavanja)
            {
            <tr class="smallFont">
                <td>@zagrijavanje.Naziv</td>
                <td>@zagrijavanje.Puls</td>
                <td>@zagrijavanje.Tempo</td>
                <td>@zagrijavanje.ZagrijavanjeNapomena</td>
            </tr>
            }
        </table>
</div>
}





@if (Model.SekcijaVjezbi == null)
{ }
else if (Model.SekcijaVjezbi.ToList().Count == 0)
{ }
else
{
<div id="inputAreaTableHome" class="defaultFont">
<p class="bigFont marginHeadline">Zagrijavanje</p>
        <table class="responstable">
            @foreach (var item in Model.SekcijaVjezbi)
            {
            <tr><td>Naziv</td><td>Broj ponavljanja</td><td>Broj serija</td><td>Težina</td><td>Odmor</td></tr>
            foreach (var vjezba in item.Vjezba)
            {
            <tr class="smallFont">
                <td>@vjezba.ImeVjezbe/td>
                <td>@vjezba.BrojPonavljanja</td>
                <td>@vjezba.BrojSerija</td>
                <td>@vjezba.Kilogrami</td>
                <td>@vjezba.Odmor</td>
            </tr>
            }
            }
        </table>
</div>
}





@if (Model.ListaIstezanja == null)
{ }
else if (Model.ListaIstezanja.ToList().Count == 0)
{ }
else
{
<div id="inputAreaTableHome" class="defaultFont">
<p class="bigFont marginHeadline">Istezanje</p>
        <table class="responstable">
            <thead><tr><th>Naziv</th><th>Vrijeme Izdrzaja</th><th>Vrsta Istezanja</th></tr></thead>
            @foreach (var istezanje in Model.ListaIstezanja)
            {
            <tr class="smallFont">
                <td>@istezanje.Naziv</td>
                <td>@istezanje.VrijemeIzdrzaja</td>
                <td>@istezanje.VrstaIstezanja</td>
            </tr>
            }
        </table>
</div>
}
<p>
    @Html.ActionLink("Natrag na popis treninga", "TreningPopis", "Home", new {id = Model.ClanId }, null)
</p>
