@using TrainingPlanner
@model TrainingPlanner.Models.TreningDataModel

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

<div id="inputAreaImages" class="defaultFont">
<p class="bigFont marginHeadline">@Model.ClanIme @Model.ClanPrezime</p>
        <table class="responstable">
            <tr class="smallFont">
                <td style="width:30%">
                    @Html.DisplayFor(x => x.TreningImeTreninga)
                </td>
                <td style="width:30%">
                    @Model.TreningDatum.ToShortDateString()
                </td>
                <td style="width:30%">
                    @Html.DisplayFor(x => x.TreningTip)
                </td>
            </tr>
        </table>
</div>

@if (Model.ListaZagrijavanja == null)
{ }
else if (Model.ListaZagrijavanja.ToList().Count == 0)
{ }
else
{
<div id="inputAreaImages" class="defaultFont">
        <table class="responstable smallFont">
            <tr><td><p class="bigFont">Zagrijavanje</p></td></tr>
            <tr style="font-size:24px"><td style="border-bottom:solid">Naziv</td><td style="border-bottom:solid">Puls</td>
                 <td style="border-bottom:solid">Tempo</td><td style="border-bottom:solid">Napomena</td>
            @foreach (var zagrijavanje in Model.ListaZagrijavanja)
            {
            <tr class="smallFont">
                <td>@zagrijavanje.Naziv</td>
                <td>@zagrijavanje.Puls</td>
                <td>@zagrijavanje.Tempo</td>
                <td>@zagrijavanje.ZagrijavanjeNapomena</td>
            </tr>
            }
        </table>
</div>
}

@if (Model.SekcijaVjezbi == null)
{ }
else if (Model.SekcijaVjezbi.ToList().Count == 0)
{ }
else
{
<div id="inputAreaImages" class="defaultFont">
        @{int brojac = 0;}
            @foreach (var item in Model.SekcijaVjezbi)
            {
                brojac++;
            <table class="responstable smallFont">
                @if (Model.SekcijaVjezbi.ToList().Count > 1)
                {<tr><td><p class="bigFont">Vjezbe @brojac . dio</p></td></tr>}
                else
            {<tr><td><p class="bigFont">Vjezbe</p></td></tr>}
            <tr style="font-size:24px"><td style="border-bottom:solid">Naziv</td><td style="border-bottom:solid">Broj ponavljanja</td>
                <td style="border-bottom:solid">Broj serija</td><td style="border-bottom:solid">Težina</td><td style="border-bottom:solid">Odmor</td></tr>
            @foreach (var vjezba in item.Vjezba)
            {
            <tr>
                <td>@vjezba.ImeVjezbe</td>
                <td>@vjezba.BrojPonavljanja</td>
                <td>@vjezba.BrojSerija</td>
                <td>@vjezba.Kilogrami</td>
                <td>@vjezba.Odmor</td>
            </tr>
            }
            @if (item.BrojKrugova != null)
            { 
                <tr>
                    <td colspan="5" style="text-align:left">
                        Broj krugova:  @item.BrojKrugova
                    </td>
                </tr>
            }
            </table>
                <br />
            }
        
</div>
}

@if (Model.ListaIstezanja == null)
{ }
else if (Model.ListaIstezanja.ToList().Count == 0)
{ }
else
{
<div id="inputAreaImages" class="defaultFont">
        <table class="responstable">
            <tr><td><p class="bigFont">Istezanje</p></td></tr>
            <tr style="font-size:24px"><td style="border-bottom:solid">Naziv</td><td style="border-bottom:solid">Vrijeme izdrzaja</td>
                <td style="border-bottom:solid">Vrijeme istezanja</td>
            @foreach (var istezanje in Model.ListaIstezanja)
            {
            <tr class="smallFont">
                <td>@istezanje.Naziv</td>
                <td>@istezanje.VrijemeIzdrzaja</td>
                <td>@istezanje.VrstaIstezanja</td>
            </tr>
            }
        </table>
</div>
}

<div>
        <div class="marginText">@Html.Label("Napomena", new {@class = "smallFont"})</div>
        @if(Model.Napomena == null)
        {
            <text>--</text>
        }
        else
        {
            @Html.TextAreaFor(model => model.Napomena, new { rows = "10", cols = "137" , @readonly = true})
        } 
</div>

<p>
    @Html.ActionLink("Natrag na popis treninga", "TreningPopis", "Home", new {id = Model.ClanId }, new { @class = "marginHeadlineTop marginTextBottom button_example" })
</p>
