@model TrainingPlanner.Test

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

<div id="inputArea" style="float: left;">
    <p class="bigFont marginHeadline">Detalji testa</p> 

    <div>
        <div class="marginInputBottom">@Html.LabelFor(model => model.Name, new {@class = "smallFont"})</div>
        @Html.DisplayFor(model => model.Name)
    </div>
        
    <div>
        <div class="marginText">@Html.Label("Datum", new {@class = "smallFont"})</div>
        @Html.DisplayFor(model => model.DatumTesta, new {@class = "dateInput"})
    </div>
     
    <div>
        <div class="marginText">@Html.Label("Ergometar", new {@class = "smallFont"})</div>
        @Html.DisplayFor(model => model.Ergometar)
    </div>
        
    <div>
        <div class="marginText">@Html.Label("Zgibovi", new {@class = "smallFont"})</div>
        @Html.DisplayFor(model => model.Zgibovi)
    </div>
        
    <div>
        <div class="marginText">@Html.Label("Sklekovi", new {@class = "smallFont"})</div>
        @Html.DisplayFor(model => model.Sklekovi)
    </div>
        
    <div>
        <div class="marginText">@Html.Label("Trbušnjaci", new {@class = "smallFont"})</div>
        @Html.DisplayFor(model => model.Trbusnjaci)
    </div>
        
    <div>
        <div class="marginText">@Html.Label("Čučnjevi", new {@class = "smallFont"})</div>
        @Html.DisplayFor(model => model.Cucnjevi)
    </div>
       
    <div class="marginHeadlineTop marginTextBottom button_example">
        @Html.ActionLink("Popis testova", "Test", "Home", new {id = Model.ClanId }, null)
    </div>
    <div class="marginHeadlineTop marginTextBottom button_example">
        @Html.ActionLink("Detalji o članu", "DetaljiClana", "Home", new {id = Model.ClanId }, null)
    </div>
</div>

@if (Model.Slika.Count > 0)
{
    <div id="inputAreaImages" style="float: left;">
        <p class="bigFont marginHeadline">Slike</p> 
        @foreach (var item in Model.Slika)
        {
            <div style="float: left; display: block; clear: right;" class="marginHeadline">
                <div><img class="marginLeft" width="250" height="250" src ="@Url.Content(String.Format("~/Content/Slike/{0}", item.SlikaIme))" /></div>
            </div>
        }
    </div>
}