@using TrainingPlanner.Helpers
@using TrainingPlanner.Models
@using TrainingPlanner
@model Amneza

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="sidebar"></div>
<div id=@(Model.AmnezaSlike.Count > 0 ? "contentImg" : "content")>
    <div id=@(Model.AmnezaSlike.Count > 0 ? "inputAreaImgs" : "inputArea") style="float: left;">
        <h2 class="green">Detalji amneze</h2>
        <div>
            <div class="marginInputBottom">@Html.LabelFor(x => x.Ime, new { @class = "smallFont" })</div>
            <div class="defaultFont">@Html.DisplayFor(model => Model.Ime)</div>
        </div>
        
        <div class="maxWidth">
            <div class="marginText maxWidth">@Html.LabelFor(x => x.Opis, new { @class = "smallFont" })</div>
            @if (Model.Opis == null)
            {
                <text>--</text>
            }
            else
            {
                @Html.DisplayFor(model => model.Opis)
            }
        </div>
        
        @Html.ActionLink("Natrag", "Amneza", "Home", new { id = Model.ClanClanId }, new { @class = "marginHeadlineTop marginTextBottom button_example" })
        @Html.ActionLink("Detalji o članu", "DetaljiClana", "Home", new { id = Model.ClanClanId }, new { @class = "marginHeadlineTop marginTextBottom button_example" })
    </div>
    @if (Model.AmnezaSlike.Count > 0)
    {
        <div id="inputAreaImages" style="float: left;">
            <h2 style="padding-left:15px" class="green">Amneza datoteke</h2>
            @foreach (var item in Model.AmnezaSlike)
            {
                <div style="float: left; display: block; clear:right; height:260px;" class="marginHeadline">
                   @if(MIMEFileTypeDetector.GetMIMEType(item.SlikaIme) == "image/jpeg")
                    {
                        <div><a href="~/Content/VelikeSlike/@item.SlikaIme" target="_blank"><img class="marginLeft" src="@Url.Content(String.Format("~/Content/VelikeSlike/{0}", item.SlikaIme))" /></a></div>
                    }
                    else
                    {
                       <div><a href="~/Content/VelikeSlike/@item.SlikaIme" target="_blank"><img height="250px" class="marginLeft" src="@Url.Content("~/Content/VelikeSlike/texticon.jpg")" /></a></div> 
                    }
                </div>
            }
        </div>
    }
</div>