@model TrainingPlanner.IstezanjePopis

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

<fieldset>
    <legend>IstezanjePopis</legend>
    
            @Html.HiddenFor(model => model.IstezanjeId)
            
    <div class="display-label">
            @Html.DisplayNameFor(model => model.Naziv)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Naziv)
    </div>
    
    <div class="display-label">
            @Html.DisplayNameFor(model => model.Info)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Info)
    </div>
    <div class="display-field">
        @if (Model.IstezanjeSlike.Count == 0)
        {
            @:None
        } else {
            foreach (var item in Model.IstezanjeSlike)
            {
            <img width="150" height="150" src ="@Url.Content(String.Format("~/Content/IstezanjeSlike/{0}", item.IstezanjeSlikaIme))" />
            }
        }   
    </div>
</fieldset>
<p>
    @Html.ActionLink("Izmijeni", "IzmijeniIstezanje", new { id=Model.IstezanjeId}) |
    @Html.ActionLink("Natrag na popis Istezanja", "IstezanjePopis")
</p>
