@model TrainingPlanner.ZagrijavanjePopis

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

<div id="inputArea" style="float: left;">
    <p class="bigFont marginHeadline">Detalji zagrijavanja</p> 

    <div>
        <div class="marginInputBottom">@Html.Label("Naziv", new { @class="smallFont" })</div>
        @Html.DisplayFor(model => model.Naziv)
    </div>
    
    <div class="marginText">
        <div class="marginInputBottom">@Html.Label("Info", new { @class="smallFont marginInputBottom" })</div>
        @Html.DisplayFor(model => model.Info)
    </div> 
        
    <div class="marginHeadlineTop marginTextBottom button_example">
        @Html.ActionLink("Popis zagrijavanja", "ZagrijavanjePopis")
    </div>
</div>
    
@if (Model.ZagrijavanjeSlike.Count > 0)
{
    <div id="inputAreaImages" style="float: left;">
        <p class="bigFont marginHeadline">Slike</p> 
        @foreach (var item in Model.ZagrijavanjeSlike)
        {
            <div style="float: left; display: block; clear:right;" class="marginHeadline">
                <div><img class="marginLeft" width="250" height="250" src ="@Url.Content(String.Format("~/Content/ZagrijavanjeSlike/{0}", item.ZagrijavanjeSlikaIme))" /></div>
            </div>    
        }
    </div>
}