@using TrainingPlanner.Helpers
@model TrainingPlanner.Test

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="sidebar"></div>
<div id=@(Model.Slika.Count > 0 ? "contentImg" : "content")>
    <div id=@(Model.Slika.Count > 0 ? "inputAreaImgs" : "inputArea") style="float: left;">
        <h2 class="green">Detalji testa</h2>

        <div>
            <div class="marginInputBottom">@Html.Label("Naziv", new { @class = "smallFont" })</div>
            @Html.DisplayFor(model => model.Name)
        </div>
        <br />
        <hr />
        <div class="maxWidth">
            <div class="marginText">@Html.Label("Opis testa - Funkcionalne sposobnosti *", new { @class = "smallFont" })</div>
            @if (Model.FunkcionalneSposobnosti == null)
            {
                <text>--</text>
            }
            else
            {
                @Html.DisplayFor(model => model.FunkcionalneSposobnosti)
            }
        </div>

        <div class="maxWidth">
                <div class="marginText">@Html.Label("* Rezultat", new { @class = "smallFont" })</div>
                
                    <table class="responstableTrening">
                        <tr class="smallFont">
                            <td class="green">Datum</td>
                            <td class="green">Rezultat</td>
                        </tr>
                @foreach (var item in Model.FunkcionalniRezultatiTest.ToList())
                {
                        <tr>
                            <td align="center">@item.Datum</td>
                            <td align="center">@item.Rezultat</td>
                        </tr>
                }
                   </table>
            </div>
        <br />
        <hr />
        <div class="maxWidth">
            <div class="marginText">@Html.Label("Opis testa - Motoričke sposobnosti **", new { @class = "smallFont" })</div>
            @if (Model.MotorickeSposobnosti == null)
            {
                <text>--</text>
            }
            else
            {
                @Html.DisplayFor(model => model.MotorickeSposobnosti)
            }
        </div>

         <div class="maxWidth">
                <div class="marginText">@Html.Label("** Rezultat", new { @class = "smallFont" })</div>
                
                    <table class="responstableTrening">
                        <tr class="smallFont">
                            <td class="green">Datum</td>
                            <td class="green">Rezultat</td>
                        </tr>
                @foreach (var item in Model.MotorickiRezultatiTest.ToList())
                {
                        <tr>
                            <td align="center">@item.Datum</td>
                            <td align="center">@item.Rezultat</td>
                        </tr>
                }
                   </table>
            </div>
        <br />
        <hr />
        @Html.ActionLink("Popis testova", "Test", "Home", new { id = Model.ClanId }, new { @class = "marginHeadlineTop marginTextBottom button_example" })
        @Html.ActionLink("Detalji o članu", "DetaljiClana", "Home", new { id = Model.ClanId }, new { @class = "marginHeadlineTop marginTextBottom button_example" })
    </div>

    @if (Model.Slika.Count > 0)
    {
        <div id="inputAreaImages" style="float: left;">
            <h2 style="padding-left:15px" class="green">Test datoteke</h2>
            @foreach (var item in Model.Slika)
            {
                <div style="float: left; display: block; clear: right;" class="marginHeadline">
                    @if(MIMEFileTypeDetector.GetMIMEType(item.SlikaIme) == "image/jpeg")
                    {
                        <div><a href="~/Content/Slike/@item.SlikaIme" target="_blank"><img class="marginLeft" width="250" height="250" src="@Url.Content(String.Format("~/Content/Slike/{0}", item.SlikaIme))" /></a></div>
                    }
                    else
                    {
                       <div><a href="~/Content/Slike/@item.SlikaIme" target="_blank"><img class="marginLeft" width="250" height="250" src="@Url.Content("~/Content/Slike/texticon.jpg")" /></a></div> 
                    }
                </div>
            }
        </div>
    }
</div>