@using TrainingPlanner.Models
@using TrainingPlanner
@model ClanTestModel

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

<div id="inputArea" style="float: left;" class="defaultFont">
    <p class="bigFont marginHeadline">Detalji člana</p>
    <div>
        <div class="marginInputBottom">@Html.LabelFor(x => x.Clan.Ime, new { @class = "smallFont" })</div>
        <div class="defaultFont">@Html.DisplayFor(model => Model.Clan.Ime)</div>
    </div>
    <div>
        <div class="marginText">@Html.LabelFor(x => x.Clan.Prezime, new { @class = "smallFont" })</div>
        @Html.DisplayFor(model => Model.Clan.Prezime)
    </div>
    <div>
        <div class="marginText">@Html.LabelFor(x => x.Clan.Visina, new { @class = "smallFont" })</div>
        @Html.DisplayFor(model => Model.Clan.Visina)
    </div>
    <div>
        <div class="marginText">@Html.Label("Težina", new { @class = "smallFont" })</div>
        @Html.DisplayFor(model => Model.Clan.Tezina)
    </div>
    <div>
        <div class="marginText">@Html.Label("Datum rođenja", new { @class = "smallFont" })</div>
        @Html.DisplayFor(model => model.Clan.GodinaRodenja, new { @class = "dateInput" })
    </div>
    <div>
        <div class="marginText">@Html.Label("Godine", new { @class = "smallFont" })</div>
        @Html.DisplayFor(model => model.Clan.GodineStarosti)
    </div>
    <div>
        <div class="marginText">@Html.LabelFor(x => x.Clan.Amneza, new { @class = "smallFont" })</div>
        @Html.DisplayFor(model => model.Clan.Amneza)
    </div>
    <div>
        <div class="marginText">@Html.LabelFor(x => x.Clan.Napomena, new { @class = "smallFont" })</div>
        @Html.DisplayFor(model => model.Clan.Napomena)
    </div>

    @if (Model.ListaTest != null)
    {
        <div class="marginText">@Html.Label("Popis testova", new { @class = "smallFont" })</div>

        foreach (Test t in Model.ListaTest)
        {
            @Html.ActionLink(@t.Name, "DetaljiTest", new { id = @t.TestId }, new { @class = "marginHeadlineTop marginTextBottom" })<br />
        }

    }

    @Html.ActionLink("Popis članova", "Index", "Home", new { @class = "marginHeadlineTop marginTextBottom button_example" })
</div>
