@model TrainingPlanner.Test

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

@using (Html.BeginForm("DodajTest", "Home", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.ClanId)

    <div id="inputArea">
        <p class="bigFont marginHeadline">Novi test</p>

        <div>
            <div class="marginInputBottom">@Html.Label("Naziv", new {@class = "smallFont"})</div>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div>
            <div class="marginText">@Html.Label("Datum", new {@class = "smallFont"})</div>
            @Html.TextBoxFor(model => model.DatumTesta, new {@Value = DateTime.Now.ToString("dd/MM/yyyy"), @class = "dateInput"})
            @Html.ValidationMessageFor(model => model.DatumTesta)
        </div>
     
        <div>
            <div class="marginText">@Html.Label("Ergometar", new {@class = "smallFont"})</div>
            @Html.EditorFor(model => model.Ergometar)
            @Html.ValidationMessageFor(model => model.Ergometar)
        </div>
        
        <div>
            <div class="marginText">@Html.Label("Zgibovi", new {@class = "smallFont"})</div>
            @Html.EditorFor(model => model.Zgibovi)
            @Html.ValidationMessageFor(model => model.Zgibovi)
        </div>
        
        <div>
            <div class="marginText">@Html.Label("Sklekovi", new {@class = "smallFont"})</div>
            @Html.EditorFor(model => model.Sklekovi)
            @Html.ValidationMessageFor(model => model.Sklekovi)
        </div>
        
        <div>
            <div class="marginText">@Html.Label("Trbušnjaci", new {@class = "smallFont"})</div>
            @Html.EditorFor(model => model.Trbusnjaci)
            @Html.ValidationMessageFor(model => model.Trbusnjaci)
        </div>
        
        <div>
            <div class="marginText">@Html.Label("Čučnjevi", new {@class = "smallFont"})</div>
            @Html.EditorFor(model => model.Cucnjevi)
            @Html.ValidationMessageFor(model => model.Cucnjevi)
        </div>
        
        <div class="marginText">
            @Html.Label("Dodaj sliku", new {@class = "smallFont"})
            <div>
                <input type="file" name ="slike" value="" multiple="multiple" class="marginInputTop"/>
            </div>
        </div> 
   
        <div class="marginHeadlineTop marginTextBottom">
            <input type="submit" value="Dodaj test" class="button_example"/>
        </div>
        
        <div class="marginHeadlineTop marginTextBottom button_example">
             @Html.ActionLink("Popis testova", "Test", "Home", new {id = Model.ClanId }, null) 
        </div>
    </div>
}
