@using TrainingPlanner
@model TrainingPlanner.Models.VjezbePopisLista

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

<fieldset>

    <legend>VjezbePopisLista</legend>
        
    @foreach (VjezbePopis vjp in Model.VjezbePopis)
    {
        using (Html.BeginForm("DodajVjezbuTrening", "Home", FormMethod.Post, new { id = Model.SekcijaId }))
    {
        @Html.Hidden("vjpIzmijeni", Model.Izmijeni)
        @Html.Hidden("vjpID", vjp.VjezbeId)
    <div>
        @Html.DisplayName(vjp.ImeVjezbe)
        @Html.Display(vjp.ImeVjezbe)
            
    </div>
            
    if(vjp.Info != null)
    {    
    <div>
        @Html.DisplayName(vjp.Info)
        @Html.Display(vjp.Info)
    </div>
            
    }
    <input type="submit" value="Dodaj Vjezbu" /> 
        <br />
            
    }        
    }
</fieldset>
<p>
    @if ((int)ViewData["izmijeni"] == 0)
    {
        @Html.ActionLink("Natrag na Trening", "DodajTrening", "Home", new { id = Convert.ToInt32(ViewData["id1"]), DodajVjezbu = 1 }, null)
    }
    else
    {
        @Html.ActionLink("Natrag na Trening", "IzmijeniTrening", "Home", new { id = Convert.ToInt32(ViewData["id1"]) }, null)
    }
</p>
