@using TrainingPlanner
@model TrainingPlanner.Models.IstezanjeZagrijavanjeLista

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="contentImg">
    <h2 class="green">Popis istezanja</h2>
    <table class="responstableTrening">

        @if (Model.IstezanjePopis.Count == 0)
        {
            <tr>
                <td class="smallFont">Trenutno nema vježbi istezanja.</td>
            </tr>
        }

        @foreach (IstezanjePopis istp in Model.IstezanjePopis)
        {
            using (Html.BeginForm("DodajIstezanjeTrening", "Home", FormMethod.Post, new { id = Model.TreningId }))
            {
                @Html.Hidden("istpIzmijeni", Model.Izmijeni)
                @Html.Hidden("istpId", istp.IstezanjeId)
                <tr class="smallFont">
                    <td class="green">@istp.Naziv</td>
                    @if (istp.Info == null)
                    {
                        <td>--</td>
                    }
                    else
                    {
                        <td>@istp.Info</td>
                    }
                    @if (istp.IstezanjeSlike.Count > 0)
                    {
                        <td>
                            @foreach (var item in istp.IstezanjeSlike)
                            {
                                <div style="float: left; display: block;">
                                    <div>
                                        <a href="~/Content/IstezanjeSlike/@item.IstezanjeSlikaIme" target="_blank">
                                            <img class="marginLeft" width="50" height="50" src="@Url.Content(String.Format("~/Content/IstezanjeSlike/{0}", item.IstezanjeSlikaIme))" />
                                        </a>
                                    </div>
                                </div>
                            }
                        </td>
                    }
                    else
                    {
                        <td>--</td>
                    }
                    <td><input type="submit" value="Dodaj istezanje" class="button_example" /></td>
                </tr>
            }
        }
    </table>

    @((int)ViewData["izmijeni"] == 0 ? Html.ActionLink("Natrag na trening", "DodajTrening", "Home", new { id = Model.TreningId, DodajVjezbu = 1 }, new { @class = "marginHeadlineTop marginTextBottom button_example" }) : Html.ActionLink("Natrag na trening", "IzmijeniTrening", "Home", new { id = Model.TreningId }, new { @class = "marginHeadlineTop marginTextBottom button_example" }))
</div>
