@model TrainingPlanner.Models.TreningDataModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="contentImg">
    @using (Html.BeginForm("DodajTrening", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.TreningId)
        <h2 class="green">Novi trening - @Model.ClanIme @Model.ClanPrezime</h2>
        <div id="inputAreaImgsTrening" style="float: left;">
            <div>
                <div class="marginInputBottom">@Html.Label("Ime treninga", new { @class = "smallFont" })</div>
                @Html.TextBoxFor(x => x.TreningImeTreninga)
                @Html.ValidationMessageFor(model => model.TreningImeTreninga, String.Empty, new { @class = "error" })
            </div>

            <div class="marginText">
                <div class="marginInputBottom">@Html.Label("Tip treninga", new { @class = "smallFont marginInputBottom" })</div>
                @Html.TextBoxFor(x => x.TreningTip)
                @Html.ValidationMessageFor(model => model.TreningTip, String.Empty, new { @class = "error" })
            </div>

            <div class="marginText">
                <div class="marginInputBottom">@Html.Label("Datum treninga", new { @class = "smallFont marginInputBottom" })</div>
                @Html.TextBoxFor(x => x.TreningDatum, "{0:dd/MM/yyyy}", new { @Value = DateTime.Now.ToString("dd/MM/yyyy") })
                @Html.ValidationMessageFor(model => model.TreningDatum, String.Empty, new { @class = "error" })
            </div>

            <div class="marginText">
                <div class="marginInputBottom">@Html.Label("Napomena", new { @class = "smallFont marginInputBottom" })</div>
                @Html.TextAreaFor(x => x.Napomena, new { rows = "10", cols = "40" })
                @Html.ValidationMessageFor(model => model.Napomena, String.Empty, new { @class = "error" })
            </div>

            <div class="marginHeadlineTop marginTextBottom">
                <input type="submit" value="Dodaj trening" class="button_example" />
            </div>

            @Html.ActionLink("Popis treninga", "TreningPopis", "Home", new { id = Model.ClanId }, new { @class = "marginHeadlineTop marginTextBottom button_example" })
        </div>
    }

    <div id="inputAreaTrening" style="float: left;">
        <!--Zagrijavanje-->
        <h2 id="0" class="green">Zagrijavanje</h2>
        <table class="responstableTrening">
            @if (Model.ListaZagrijavanja == null)
            {
                <tr>
                    <td class="smallFont">Trenutno nema zagrijavanja.</td>
                </tr>
            }
            else if (Model.ListaZagrijavanja.ToList().Count == 0)
            {
                <tr>
                    <td class="smallFont">Trenutno nema zagrijavanja.</td>
                </tr>
            }
            else
            {
                <tr style="background-color:#C6C8C8;">
                    <td class="treningFont">Naziv</td>
                    <td class="treningFont">Puls</td>
                    <td class="treningFont">Tempo</td>
                    <td class="treningFont">Napomena</td>
                </tr>
                int i = 1;
                foreach (var zagrijavanje in Model.ListaZagrijavanja)
                {
                    <form action="@Url.Action("SpremiZagrijavanjeInfo", "Home")#@i" method="post">
                        <tr id="@i" class="smallFont">
                            @Html.Hidden("id", Model.TreningId)
                            @Html.Hidden("ZagrijavanjeId", zagrijavanje.ZagrijavanjeId)
                            <td>@zagrijavanje.Naziv</td>
                            <td>@Html.TextBox("Puls", zagrijavanje.Puls, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("Tempo", zagrijavanje.Tempo, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("ZagrijavanjeNapomena", zagrijavanje.ZagrijavanjeNapomena, new { @class = "marginInputBottom inputNumber" })</td>
                            
                            <td><a class="button_example_br" href="@Url.Action("IzbrisiZagrijavanjeTrening", "Home", new { id = zagrijavanje.ZagrijavanjeId })#0">Izbriši</a></td>
                            <td>@Html.ActionLink("Detalji", "DetaljiZagrijavanja", "Home", new { id = zagrijavanje.ZagrijavanjePopisZagrijavanjeId, izmijeni = 0, trening = 1, treningId = Model.TreningId, counter = i }, new { @class = "button_example_br" })</td>
                            <td><input type="submit" name="SpremiZagrijavanjeInfo" value="Spremi" class="button_example_br" /></td>
                        </tr>
                    </form>
                    i++;
                }
            }
        </table>
        @if (Model.ListaZagrijavanja == null)
        {
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajZagrijavanjeTrening", "Home", new { id = Model.TreningId, counter = 0 })">Dodaj zagrijavanje</a>
        }
        else if (Model.ListaZagrijavanja.ToList().Count == 0)
        {
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajZagrijavanjeTrening", "Home", new {id = Model.TreningId, counter = 0})">Dodaj zagrijavanje</a>
        }
        else
        {
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajZagrijavanjeTrening", "Home", new { id = Model.TreningId, counter = Model.ListaZagrijavanja.Count - 1 })">Dodaj zagrijavanje</a>
        }
        
        <!--Vjezbe-->
        <h2 id="0vje" class="green marginHeadlineTop">Vježbe</h2>

        @if (Model.SekcijaVjezbi == null)
        {
            <table class="responstableTrening">
                <tr>
                    <td class="smallFont">Trenutno nema vježbi.</td>
                </tr>
            </table>
        }
        else if (Model.SekcijaVjezbi.ToList().Count == 0)
        {
            <table class="responstableTrening">
                <tr>
                    <td class="smallFont">Trenutno nema vježbi.</td>
                </tr>
            </table>
        }
        else
        {
            int i = 1;
            int z = 1;
            const string sekcija = "sek";
            const string vje = "vje";
            foreach (var item in Model.SekcijaVjezbi)
            {
                <div id="@i@sekcija" class="treningFont">Sekcija @i</div>
                <table class="responstableTrening">
                    <tr style="background-color:#C6C8C8;">
                        <td class="treningFont">Naziv</td>
                        <td class="treningFont">Broj ponavljanja</td>
                        <td class="treningFont">Broj serija</td>
                        <td class="treningFont">Težina</td>
                        <td class="treningFont">Odmor</td>
                        
                        <form action="@Url.Action("SpremiBrojKrugova", "Home")#@i@sekcija" method="post">
                            @Html.Hidden("id", Model.TreningId)
                            @Html.Hidden("sekcijaId", item.SekcijaId)
                            <td style="background-color: white; border:none;">
                                @Html.Label("Broj krugova:", new { @class = "treningFont" })
                                @Html.TextBox("brojKrugova", item.BrojKrugova, new { @class = "inputNumber" })
                            </td>
                            <td style="background-color: white; border:none;">
                                <input type="submit" name="SpremiBrojKrugova" value="Spremi broj krugova" class="button_example_small" />
                            </td>
                        </form>
                    </tr>
                    @foreach (var vjezba in item.Vjezba)
                    {
                        <form action="@Url.Action("SpremiVjezbuInfo", "Home")#@i@sekcija" method="post">
                            <tr id="@z@vje" class="smallFont">
                                @Html.Hidden("id", Model.TreningId)
                                @Html.Hidden("VjezbaId", vjezba.VjezbaId)
                                <td>@vjezba.ImeVjezbe</td>
                                <td>@Html.TextBox("brojPonavljanja", vjezba.BrojPonavljanja, new { @class = "marginInputBottom inputNumber" })</td>
                                <td>@Html.TextBox("brojSerija", vjezba.BrojSerija, new { @class = "marginInputBottom inputNumber" })</td>
                                <td>@Html.TextBox("Tezina", vjezba.Kilogrami, new { @class = "marginInputBottom inputNumber" })</td>
                                <td>@Html.TextBox("Odmor", vjezba.Odmor, new { @class = "marginInputBottom inputNumber" })</td>
                                
                                <td><a class="button_example_br" href="@Url.Action("IzbrisiVjezbuTrening", "Home", new { id = vjezba.VjezbaId })#@i@sekcija">Izbriši</a></td>
                                <td>@Html.ActionLink("Detalji", "DetaljiVjezbe", "Home", new { id = vjezba.VjezbePopisVjezbeId, izmijeni = 0, trening = 1, treningId = Model.TreningId, counter = i }, new { @class = "button_example_br" })</td>
                                <td><input type="submit" name="SpremiVjezbuInfo" value="Spremi" class="button_example_br" /></td>
                            </tr>
                        </form>
                        z++;
                    }
                    </table>

                if (Model.SekcijaVjezbi == null)
                {
                    <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajVjezbuTrening", "Home", new { id = item.SekcijaId, id1 = Model.TreningId.ToString(), counter = 0 })">Dodaj vježbu</a>
                }
                else if (Model.SekcijaVjezbi.ToList().Count == 0)
                {
                    <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajVjezbuTrening", "Home", new { id = item.SekcijaId, id1 = Model.TreningId.ToString(), counter = 0 })">Dodaj vježbu</a>
                }
                else
                {
                    <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajVjezbuTrening", "Home", new { id = item.SekcijaId, id1 = Model.TreningId.ToString(), counter = i })">Dodaj vježbu</a>
                }

                <a class="marginLeft marginHeadlineTop marginTextBottom button_example" href="@Url.Action("IzbrisiSekcijuVjezbi", "Home", new { id = item.SekcijaId })#0vje">Izbriši sekciju vježbi</a>
            <hr />
            i++;
            }
        }
        <br />
        <a id="dodajSekcijuVjezbi" class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajSekcijuTrening", "Home", new { id = Model.TreningId })#dodajSekcijuVjezbi">Dodaj sekciju vježbi</a>
        
        <!--Istezanje-->
        <h2 id="0ist" class="green marginHeadlineTop">Istezanje</h2>
        <table class="responstableTrening">
            @if (Model.ListaIstezanja == null)
            {
                <tr>
                    <td class="smallFont">Trenutno nema istezanja.</td>
                </tr>
            }
            else if (Model.ListaIstezanja.ToList().Count == 0)
            {
                <tr>
                    <td class="smallFont">Trenutno nema istezanja.</td>
                </tr>
            }
            else
            {
                <tr style="background-color:#C6C8C8;">
                    <td class="treningFont">Naziv</td>
                    <td class="treningFont">Vrijeme izdržaja</td>
                    <td class="treningFont">Vrsta istezanja</td>
                </tr>
                int i = 1;
                const string ist = "ist";
                foreach (var istezanje in Model.ListaIstezanja)
                {
                    <form action="@Url.Action("SpremiIstezanjeInfo", "Home")#@i@ist" method="post">
                        <tr id="@i@ist" class="smallFont">
                            @Html.Hidden("id", Model.TreningId)
                            @Html.Hidden("IstezanjeId", istezanje.IstezanjeId)
                            <td>@istezanje.Naziv</td>
                            <td>@Html.TextBox("vrijemeIzdrzaja", istezanje.VrijemeIzdrzaja, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("vrstaIstezanja", istezanje.VrstaIstezanja, new { @class = "marginInputBottom inputNumber" })</td>
                            
                            <td><a class="button_example_br" href="@Url.Action("IzbrisiIstezanjeTrening", "Home", new { id = istezanje.IstezanjeId })#0ist">Izbriši</a></td>
                            <td>@Html.ActionLink("Detalji", "DetaljiIstezanja", "Home", new { id = istezanje.IstezanjePopisIstezanjeId, izmijeni = 0, trening = 1, treningId = Model.TreningId, counter = i }, new { @class = "button_example_br" })</td>
                            <td><input type="submit" name="SpremiIstezanjeInfo" value="Spremi" class="button_example_br" /></td>
                        </tr>
                    </form>
                    i++;
                }
            }
        </table>
        @if (Model.ListaIstezanja == null)
        {
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajIstezanjeTrening", "Home", new { id = Model.TreningId, counter = 0 })">Dodaj istezanje</a>
        }
        else if (Model.ListaIstezanja.ToList().Count == 0)
        {
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajIstezanjeTrening", "Home", new { id = Model.TreningId, counter = 0 })">Dodaj istezanje</a>
        }
        else
        {
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajIstezanjeTrening", "Home", new { id = Model.TreningId, counter =  Model.ListaIstezanja.Count })">Dodaj istezanje</a>
        }
    </div>
</div>