@model TrainingPlanner.Models.TreningDataModel

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

    <div style="float:left">
        @using (Html.BeginForm("DodajTrening", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.TreningId)
            
        <div>
            <h4>Ime i prezime</h4>
            @Model.ClanIme @Model.ClanPrezime
            
        </div>
            <br />
        <div>
            <h2>Trening</h2>
            
            Ime treninga: @Html.TextBoxFor(x => x.TreningImeTreninga)
            <br />
            <br />
            Datum: @Html.TextBoxFor(x => x.TreningDatum, new {@Value=DateTime.Now.ToShortDateString(), @class = "dateInput", @placeholder = "Please enter date"})
            <br />
            
            <div>
                <h4>Napomena</h4>
                @Html.TextAreaFor(x => x.Napomena, new { rows = "11", cols = "40" })

            </div>
            <br />

            <input type ="submit" name ="DodajTrening" value="Dodaj Trening" />
        </div>
        }
    </div>

    <div style="float:left; margin-left: 20px;">
        <!-- Zagrijavanje -->
        <div>
                <h4>Zagrijavanje</h4>
                @if (Model.ListaZagrijavanja == null)
                {
                    <div>Pocni sa dodavanjem zagrijavanja.</div>
                }
                else
                {                    
                    <table>
                        <thead><tr><th>Ime Zagrijavanja</th><th>Puls</th><th>Tempo</th>><th>Napomena</th></tr></thead>
                        @foreach (var zagrijavanje in Model.ListaZagrijavanja)
                        {
                            using (Html.BeginForm("SpremiZagrijavanjeInfo", "Home", FormMethod.Post))
                            {  
                        <tr>
                            @Html.Hidden("id", Model.TreningId)
                            @Html.Hidden("ZagrijavanjeId", zagrijavanje.ZagrijavanjeId)
                            <td>@zagrijavanje.Naziv</td>
                            <td>@Html.TextArea("Puls", zagrijavanje.Puls)</td>
                            <td>@Html.TextArea("Tempo", zagrijavanje.Tempo)</td>
                            <td>@Html.TextArea("ZagrijavanjeNapomena", zagrijavanje.ZagrijavanjeNapomena)</td>
                            <td>@Html.ActionLink("Izbrisi", "IzbrisiZagrijavanjeTrening", "Home", new { id = zagrijavanje.ZagrijavanjeId }, null)</td>
                            <td>@Html.ActionLink("Detalji", "DetaljiZagrijavanjeTrening", "Home", new { id = zagrijavanje.ZagrijavanjeId  }, null)</td>
                            <td><input type ="submit" name ="SpremiZagrijavanjeInfo" value="Spremi" /></td>                                 
                        </tr>
                            }
                        }
                    </table>                   
                    
                }
                
                <br />
                @Html.ActionLink("Dodaj Zagrijavanje", "DodajZagrijavanjeTrening", "Home", new { id = Model.TreningId }, null)
            </div>
            <br />
        <!-- Vjezbe -->
            <div>
                <h4>Vjezbe</h4>
                @if (Model.SekcijaVjezbi == null)
                { 
                    <p>Pocni sa dodavanjem sekcija.</p>
                }
                else
                {
                foreach (var item in Model.SekcijaVjezbi)
                {          
                    <table>
                        <thead><tr><th>Ime Vjezbe</th><th>Broj ponavljanja</th><th>Broj serija</th><th>Tezina</th><th>Odmor</th></tr></thead>
                        @foreach (var vjezba in item.Vjezba)
                        {
                            using (Html.BeginForm("SpremiVjezbuInfo", "Home", FormMethod.Post))
                            {  
                        <tr>
                            @Html.Hidden("id", Model.TreningId)
                            @Html.Hidden("VjezbaId", vjezba.VjezbaId)
                            <td>@vjezba.ImeVjezbe</td>
                            <td>@Html.TextArea("BrojPonavljanja", vjezba.BrojPonavljanja)</td>
                            <td>@Html.TextArea("BrojSerija", vjezba.BrojSerija)</td>
                            <td>@Html.TextArea("Tezina", vjezba.Kilogrami)</td>
                            <td>@Html.TextArea("Odmor", vjezba.Odmor)</td>
                            <td>@Html.ActionLink("Izbrisi", "IzbrisiVjezbuTrening", "Home", new { id = vjezba.VjezbaId }, null)</td>
                            <td>@Html.ActionLink("Detalji", "DetaljiVjezbeTrening", "Home", new { id = vjezba.VjezbaId, id1 = Model.TreningId.ToString() }, null)</td>
                            
                            <td><input type ="submit" name ="SpremiVjezbuInfo" value="Spremi" /></td>
                                                              
                        </tr>
                            }
                        }
                    </table>                   
                    <br />
                    @Html.ActionLink("Dodaj Vjezbu", "DodajVjezbuTrening", "Home", new { id = item.SekcijaId, id1 = Model.TreningId.ToString() }, null)
                    <br />
                    
                    using (Html.BeginForm("SpremiBrojKrugova", "Home", FormMethod.Post))
                    {
                    @Html.Hidden("id", Model.TreningId)
                    @Html.Hidden("sekcijaId", item.SekcijaId)
                    @Html.Label("Broj Krugova:")
                    <br />
                    @Html.TextArea("BrojKrugova", item.BrojKrugova)
                    <input type ="submit" name ="SpremiBrojKrugova" value="Spremi broj krugova" />
                    }
                    <br />          
                    @Html.ActionLink("Izbrisi Sekciju vjezbi", "IzbrisiSekcijuVjezbi", "Home", new { id = item.SekcijaId}, null)            
                }
                }                             
                <br />
                @Html.ActionLink("Dodaj Novu Sekciju vjezbi", "DodajSekcijuTrening", "Home", new { id = Model.TreningId }, null)
                
            </div>
            <br />
        <!-- Istezanje -->
        <div>
           <h4>Istezanje</h4>
                @if (Model.ListaIstezanja == null)
                {
                    <div>Pocni sa dodavanjem istezanja.</div>
                }
                else
                {                    
                    <table>
                        <thead><tr><th>Ime Istezanja</th><th>Vrijeme izdrzaja</th><th>Vrsta istezanja</th></tr></thead>
                        @foreach (var istezanje in Model.ListaIstezanja)
                        {
                            using (Html.BeginForm("SpremiIstezanjeInfo", "Home", FormMethod.Post))
                            {  
                        <tr>
                            @Html.Hidden("id", Model.TreningId)
                            @Html.Hidden("IstezanjeId", istezanje.IstezanjeId)
                            <td>@istezanje.Naziv</td>
                            <td>@Html.TextArea("VrijemeIzdrzaja", istezanje.VrijemeIzdrzaja)</td>
                            <td>@Html.TextArea("VrstaIstezanja", istezanje.VrstaIstezanja)</td>
                            <td>@Html.ActionLink("Izbrisi", "IzbrisiIstezanjeTrening", "Home", new { id = istezanje.IstezanjeId }, null)</td>
                            <td>@Html.ActionLink("Detalji", "DetaljiIstezanjeTrening", "Home", new { id = istezanje.IstezanjeId }, null)</td>
                            <td><input type ="submit" name ="SpremiIstezanjeInfo" value="Spremi" /></td>                                 
                        </tr>
                            }
                        }
                    </table>                   
                    
                }
                
                <br />
                @Html.ActionLink("Dodaj Istezanje", "DodajIstezanjeTrening", "Home", new { id = Model.TreningId }, null)
            </div>
        </div>
