@model TrainingPlanner.IstezanjePopis

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}
    
@using (Html.BeginForm("DodajNovoIstezanje", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    
    <div id="inputArea">
        <p class="bigFont marginHeadline">Novo istezanje</p>
         
        <div>
            <div class="marginInputBottom">@Html.Label("Naziv", new { @class="smallFont" })</div>
            @Html.EditorFor(model => model.Naziv)
            @Html.ValidationMessageFor(model => model.Naziv)
        </div>
        
        <div class="marginText">
            <div class="marginInputBottom">@Html.Label("Info", new { @class="smallFont marginInputBottom" })</div>
            @Html.TextAreaFor(model => model.Info, new {rows = "10", cols = "40"})
            @Html.ValidationMessageFor(model => model.Info)
        </div>
        
        <div class="marginText">
            @Html.Label("Dodaj sliku", new { @class="smallFont" })
            <div>
                <input type="file" name ="slike" value="" multiple="multiple" class="marginInputTop"/>
            </div>
        </div>
        
        <div class="marginHeadlineTop marginTextBottom">
            <input type="submit" value="Dodaj istezanje" class="button_example"/>
        </div>
        <div class="marginHeadlineTop marginTextBottom button_example">
            @Html.ActionLink("Lista istezanja", "IstezanjePopis")
        </div>
    </div>
}
