@model TrainingPlanner.Models.TreningDataModel

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

@using (Html.BeginForm("DodajTrening", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.TreningId)

    <div id="inputArea" style="float: left;">
        <p class="bigFont marginHeadline">Novi trening - @Model.ClanIme @Model.ClanPrezime</p>

        <div>
            <div class="marginInputBottom">@Html.Label("Ime treninga", new { @class = "smallFont" })</div>
            @Html.TextBoxFor(x => x.TreningImeTreninga)
            @Html.ValidationMessageFor(model => model.TreningImeTreninga)
        </div>

        <div class="marginText">
            <div class="marginInputBottom">@Html.Label("Tip treninga", new { @class = "smallFont marginInputBottom" })</div>
            @Html.TextBoxFor(x => x.TreningTip)
        </div>

        <div class="marginText">
            <div class="marginInputBottom">@Html.Label("Datum treninga", new { @class = "smallFont marginInputBottom" })</div>
            @Html.TextBoxFor(x => x.TreningDatum, "{0:dd/MM/yyyy}", new { @Value = "01/01/1980", @class = "dateInput" })
            @Html.ValidationMessageFor(model => model.TreningDatum)
        </div>

        <div class="marginText">
            <div class="marginInputBottom">@Html.Label("Napomena", new { @class = "smallFont marginInputBottom" })</div>
            @Html.TextAreaFor(x => x.Napomena, new { rows = "10", cols = "40" })
        </div>

        <div class="marginHeadlineTop marginTextBottom">
            <input type="submit" value="Dodaj trening" class="button_example" />
        </div>

        @Html.ActionLink("Popis treninga", "TreningPopis", "Home", new { id = Model.ClanId }, new { @class = "marginHeadlineTop marginTextBottom button_example" })
    </div>
}
    
<div id="inputAreaImages" style="float: left;">
    <!--Zagrijavanje-->
    <div class="bigFont marginHeadline">Zagrijavanje</div>
    <table class="responstable">
        @if (Model.ListaZagrijavanja == null)
        {
            <tr>
                <td class="smallFont">Trenutno nema zagrijavanja.</td>
            </tr>
        }
        else if (Model.ListaZagrijavanja.ToList().Count == 0)
        {
            <tr>
                <td class="smallFont">Trenutno nema zagrijavanja.</td>
            </tr>
        }
        else
        {
            <tr><td>Naziv</td><td>Puls</td><td>Tempo</td><td>Napomena</td></tr>
            foreach (var zagrijavanje in Model.ListaZagrijavanja)
            {
                using (Html.BeginForm("SpremiZagrijavanjeInfo", "Home", FormMethod.Post))
                {
                    <tr class="smallFont">
                        @Html.Hidden("id", Model.TreningId)
                        @Html.Hidden("ZagrijavanjeId", zagrijavanje.ZagrijavanjeId)
                        <td>@zagrijavanje.Naziv</td>
                        <td>@Html.TextBox("Puls", zagrijavanje.Puls, new { @class = "marginInputBottom inputNumber" })</td>
                        <td>@Html.TextBox("Tempo", zagrijavanje.Tempo, new { @class = "marginInputBottom inputNumber" })</td>
                        <td>@Html.TextBox("Napomena", zagrijavanje.ZagrijavanjeNapomena, new { @class = "marginInputBottom inputNumber" })</td>

                        <td>@Html.ActionLink("Izbriši", "IzbrisiZagrijavanjeTrening", "Home", new { id = zagrijavanje.ZagrijavanjeId }, new { @class = "button_example_small" })</td>
                        <td>@Html.ActionLink("Detalji", "DetaljiZagrijavanjeTrening", "Home", new { id = zagrijavanje.ZagrijavanjeId }, new { @class = "button_example_small" })</td>
                        <td><input type="submit" name="SpremiZagrijavanjeInfo" value="Spremi" class="button_example_small" /></td>
                    </tr>
                }
            }
        }
    </table>
    @Html.ActionLink("Dodaj zagrijavanje", "DodajZagrijavanjeTrening", "Home", new { id = Model.TreningId }, new { @class = "marginHeadlineTop marginTextBottom button_example" })    
    
    <!--Vjezbe-->   
    <div class="bigFont marginHeadline">Vježbe</div>
  
        @if (Model.SekcijaVjezbi == null)
        {
            <table class="responstable">
                <tr>
                    <td class="smallFont">Trenutno nema vježbi.</td>
                </tr>
            </table>
        }
        else if (Model.SekcijaVjezbi.ToList().Count == 0)
        {
            <table class="responstable">
                <tr>
                    <td class="smallFont">Trenutno nema vježbi.</td>
                </tr>
            </table>
        }
        else
        {
            foreach (var item in Model.SekcijaVjezbi)
            {
                <table class="responstable">
                    <tr><td>Naziv</td><td>Broj ponavljanja</td><td>Broj serija</td><td>Težina</td><td>Odmor</td></tr>
                    @foreach (var vjezba in item.Vjezba)
                    {
                        using (Html.BeginForm("SpremiVjezbuInfo", "Home", FormMethod.Post))
                        {
                        <tr class="smallFont">
                            @Html.Hidden("id", Model.TreningId)
                            @Html.Hidden("VjezbaId", vjezba.VjezbaId)
                            <td>@vjezba.ImeVjezbe</td>
                            <td>@Html.TextBox("brojPonavljanja", vjezba.BrojPonavljanja, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("brojSerija", vjezba.BrojSerija, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("Tezina", vjezba.Kilogrami, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("Odmor", vjezba.Odmor, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.ActionLink("Izbriši", "IzbrisiVjezbuTrening", "Home", new { id = vjezba.VjezbaId }, new { @class = "button_example_small" })</td>
                            <td>@Html.ActionLink("Detalji", "DetaljiVjezbeTrening", "Home", new { id = vjezba.VjezbaId, id1 = Model.TreningId.ToString() }, new { @class = "button_example_small" })</td>

                            <td><input type="submit" name="SpremiVjezbuInfo" value="Spremi" class="button_example_small" /></td>
                        </tr>
                        }
                    }
                </table>
                        using (Html.BeginForm("SpremiBrojKrugova", "Home", FormMethod.Post))
                        {
                            @Html.Hidden("id", Model.TreningId)
                            @Html.Hidden("sekcijaId", item.SekcijaId)
                            @Html.Label("Broj krugova:")
                            @Html.TextBox("brojKrugova", item.BrojKrugova, new { @class = "marginInputBottom inputNumber" })
                            <input type="submit" name="SpremiBrojKrugova" value="Spremi broj krugova" class="button_example_small" />
                        }
                        @Html.ActionLink("Izbrisi sekciju vjezbi", "IzbrisiSekcijuVjezbi", "Home", new { id = item.SekcijaId }, new { @class = "marginHeadlineTop marginTextBottom button_example" })
                        @Html.ActionLink("Dodaj Vjezbu", "DodajVjezbuTrening", "Home", new { id = item.SekcijaId, id1 = Model.TreningId.ToString() }, new { @class = "marginHeadlineTop marginTextBottom button_example" })
            }
        }
                
    @Html.ActionLink("Dodaj sekciju vježbi", "DodajSekcijuTrening", "Home", new { id = Model.TreningId }, new { @class = "marginHeadlineTop marginTextBottom button_example" })
        
    <!--Istezanje-->   
    <div class="bigFont marginHeadline">Istezanje</div>
    <table class="responstable">
        @if (Model.ListaIstezanja == null)
        {
            <tr>
                <td class="smallFont">Trenutno nema istezanja.</td>
            </tr>
        }
        else if (Model.ListaIstezanja.ToList().Count == 0)
        {
            <tr>
                <td class="smallFont">Trenutno nema istezanja.</td>
            </tr>
        }
        else
        {
            <tr><td>Naziv</td><td>Vrijeme izdržaja</td><td>Vrsta istezanja</td></tr>
            foreach (var istezanje in Model.ListaIstezanja)
            {
                using (Html.BeginForm("SpremiIstezanjeInfo", "Home", FormMethod.Post))
                {
                    <tr class="smallFont">
                        @Html.Hidden("id", Model.TreningId)
                        @Html.Hidden("IstezanjeId", istezanje.IstezanjeId)
                        <td>@istezanje.Naziv</td>
                        <td>@Html.TextBox("vrijemeIzdrzaja", istezanje.VrijemeIzdrzaja, new { @class = "marginInputBottom inputNumber" })</td>
                        <td>@Html.TextBox("vrstaIstezanja", istezanje.VrstaIstezanja, new { @class = "marginInputBottom inputNumber" })</td>

                        <td>@Html.ActionLink("Izbriši", "IzbrisiIstezanjeTrening", "Home", new { id = istezanje.IstezanjeId }, new { @class = "button_example_small" })</td>
                        <td>@Html.ActionLink("Detalji", "DetaljiIstezanjeTrening", "Home", new { id = istezanje.IstezanjeId }, new { @class = "button_example_small" })</td>
                    
                        <td><input type="submit" name="SpremiIstezanjeInfo" value="Spremi" class="button_example_small" /></td>
                    </tr>
                }
            }
        }
    </table>
    @Html.ActionLink("Dodaj istezanje", "DodajIstezanjeTrening", "Home", new { id = Model.TreningId }, new { @class = "marginHeadlineTop marginTextBottom button_example" })     

</div>