@model TrainingPlanner.ZagrijavanjePopis

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DodajNovoZagrijavanje</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm("DodajNovoZagrijavanje", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>ZagrijavanjePopis</legend>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.ZagrijavanjeSlike)
            </div>
            <div class="editor-field">
                <div>Dodaj sliku: <input type="file" name ="slike" value="" multiple="multiple"/></div>
            </div>
        
            <div class="editor-label">
                @Html.LabelFor(model => model.Naziv)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Naziv)
                @Html.ValidationMessageFor(model => model.Naziv)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Info)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Info)
                @Html.ValidationMessageFor(model => model.Info)
            </div>
    
            <p>
                <input type="submit" value="Dodaj zagrijavanje" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Natrag na listu zagrijavanja", "ZagrijavanjePopis")
    </div>
</body>
</html>
