@using TrainingPlanner
@model TrainingPlanner.Models.IstezanjeZagrijavanjeLista

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="contentImg">
    <h2 class="green">Popis zagrijavanja</h2>
    <table class="responstableTrening">
        @if (Model.ZagrijavanjePopis.Count == 0)
        {
            <tr>
                <td class="smallFont">Trenutno nema vježbi zagrijavanja.</td>
            </tr>
        }

        @foreach (ZagrijavanjePopis zgp in Model.ZagrijavanjePopis)
        {
            <form action="@Url.Action("DodajZagrijavanjeTrening", "Home", new { id = Model.TreningId })#@ViewData["counter"]" method="post">
                @Html.Hidden("zgpIzmijeni", Model.Izmijeni)
                @Html.Hidden("zgpId", zgp.ZagrijavanjeId)
                <tr>
                    <td class="smallFontGreen">@zgp.Naziv</td>
                    @if (zgp.Info == null)
                    {
                        <td class="smallFont">--</td>
                    }
                    else
                    {
                        <td class="smallFontNotCentered">@zgp.Info</td>
                    }
                    @if (zgp.ZagrijavanjeSlike.Count > 0)
                    {
                        <td>
                            @foreach (var item in zgp.ZagrijavanjeSlike)
                            {
                                <div style="float: left; display: block;">
                                    <div>
                                        <a href="~/Content/ZagrijavanjeSlike/@item.ZagrijavanjeSlikaIme" target="_blank">
                                            <img class="marginLeft" width="50" height="50" src="@Url.Content(String.Format("~/Content/ZagrijavanjeSlike/{0}", item.ZagrijavanjeSlikaIme))" />
                                        </a>
                                    </div>
                                </div>
                            }
                        </td>
                    }
                    else
                    {
                        <td class="smallFont">--</td>
                    }
                    <td>
                        <input type="submit" value="Dodaj zagrijavanje" class="button_example" />
                    </td>
                </tr>
            </form>
        }
    </table>
    @((int)ViewData["izmijeni"] == 0 ? Html.ActionLink("Natrag na trening", "DodajTrening", "Home", new { id = Model.TreningId, DodajVjezbu = 1 }, new { @class = "marginHeadlineTop marginTextBottom button_example" }) : Html.ActionLink("Natrag na trening", "IzmijeniTrening", "Home", new { id = Model.TreningId }, new { @class = "marginHeadlineTop marginTextBottom button_example" }))
</div>
