@using TrainingPlanner
@model TrainingPlanner.Models.IstezanjeZagrijavanjeLista

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="sidebar"></div>
<div id="content">
    <h2 class="green">Popis istezanja</h2>
    <table class="responstable">

        @if (Model.IstezanjePopis.Count == 0)
        {
            <tr>
                <td class="smallFont">Trenutno nema vježbi istezanja.</td>
            </tr>
        }

        @foreach (IstezanjePopis istp in Model.IstezanjePopis)
        {
            using (Html.BeginForm("DodajIstezanjeTrening", "Home", FormMethod.Post, new { id = Model.TreningId }))
            {
                @Html.Hidden("istpIzmijeni", Model.Izmijeni)
                @Html.Hidden("istpId", istp.IstezanjeId)
                <tr class="smallFont">
                    <td>@istp.Naziv</td>
                    <td>@istp.Naziv</td>
                    <td><input type="submit" value="Dodaj istezanje" class="button_example" /></td>
                </tr>
            }
        }
    </table>

    @((int)ViewData["izmijeni"] == 0 ? Html.ActionLink("Natrag na trening", "DodajTrening", "Home", new { id = Model.TreningId, DodajVjezbu = 1 }, new { @class = "marginHeadlineTop marginTextBottom button_example" }) : Html.ActionLink("Natrag na trening", "IzmijeniTrening", "Home", new { id = Model.TreningId }, new { @class = "marginHeadlineTop marginTextBottom button_example" }))
</div>
