@model TrainingPlanner.Test

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="sidebar"></div>
<div id="content">

    @using (Html.BeginForm("DodajTest", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.ClanId)

        <div id="inputArea">
            <h2 class="green">Novi test</h2>

            <div>
                <div class="marginInputBottom">@Html.Label("Naziv", new { @class = "smallFont" })</div>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, String.Empty, new { @class = "error" })
            </div>
            <div>
                <div class="marginText">@Html.Label("Datum", new { @class = "smallFont" })</div>
                @Html.TextBoxFor(model => model.DatumTesta, new { @Value = DateTime.Now.ToString("dd/MM/yyyy"), @class = "dateInput" })
                @Html.ValidationMessageFor(model => model.DatumTesta, String.Empty, new { @class = "error" })
            </div>

            <div>
                <div class="marginText">@Html.Label("Visina", new { @class = "smallFont" })</div>
                @Html.EditorFor(model => model.Visina)
                @Html.ValidationMessageFor(model => model.Visina, String.Empty, new { @class = "error" })
            </div>

            <div>
                <div class="marginText">@Html.Label("Težina", new { @class = "smallFont" })</div>
                @Html.EditorFor(model => model.Tezina)
                @Html.ValidationMessageFor(model => model.Tezina, String.Empty, new { @class = "error" })
            </div>

            <div>
                <div class="marginText">@Html.Label("Antropometrija", new { @class = "smallFont" })</div>
                @Html.EditorFor(model => model.Antropometrija)
                @Html.ValidationMessageFor(model => model.Antropometrija, String.Empty, new { @class = "error" })
            </div>

            <div>
                <div class="marginText">@Html.Label("Potkožno masno tkivo", new { @class = "smallFont" })</div>
                @Html.EditorFor(model => model.PotkoznoMasnoTkivo)
                @Html.ValidationMessageFor(model => model.PotkoznoMasnoTkivo, String.Empty, new { @class = "error" })
            </div>

            <div>
                <div class="marginText">@Html.Label("Bezmasna masa", new { @class = "smallFont" })</div>
                @Html.EditorFor(model => model.BezmasnaMasa)
                @Html.ValidationMessageFor(model => model.BezmasnaMasa, String.Empty, new { @class = "error" })
            </div>

            <div>
                <div class="marginText">@Html.Label("Funkcionalne sposobnosti", new { @class = "smallFont" })</div>
                @Html.TextAreaFor(model => model.FunkcionalneSposobnosti, new { rows = "10", cols = "40" })
                @Html.ValidationMessageFor(model => model.FunkcionalneSposobnosti, String.Empty, new { @class = "error" })
            </div>

            <div>
                <div class="marginText">@Html.Label("Motoričke sposobnosti", new { @class = "smallFont" })</div>
                @Html.TextAreaFor(model => model.MotorickeSposobnosti, new { rows = "10", cols = "40" })
                @Html.ValidationMessageFor(model => model.MotorickeSposobnosti, String.Empty, new { @class = "error" })
            </div>

            <div class="marginText">
                @Html.Label("Dodaj sliku", new { @class = "smallFont" })
                <div>
                    <input type="file" name="slike" value="" multiple="multiple" class="marginInputTop" />
                </div>
            </div>

            <div class="marginHeadlineTop marginTextBottom">
                <input type="submit" value="Dodaj test" class="button_example" />
            </div>

            @Html.ActionLink("Popis testova", "Test", "Home", new { id = Model.ClanId }, new { @class = "marginHeadlineTop marginTextBottom button_example" })
        </div>
    }
</div>
