@using TrainingPlanner
@model List<Clan>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="sidebar">
    <h2>Vježbe za trening</h2>
    <p>
    <p>@Html.ActionLink("Pregled vježbi zagrijavanja", "ZagrijavanjePopis", "Home", null, new { @class = "button_example", @style = "width:14em" })</p>
    <p>@Html.ActionLink("Pregled vježbi treninga", "VjezbePopis", "Home", null, new { @class = "marginHeadlineTop marginTextBottom button_example", @style = "width:14em"})</p>
    <p>@Html.ActionLink("Pregled vježbi istezanja", "IstezanjePopis", "Home", null, new { @class = "marginHeadlineTop marginTextBottom button_example", @style = "width:14em"})</p>
    </p>
</div>
<div id="content">
    <h2>Popis članova</h2>
    <p>
        <table class="responstable">
            @if (Model.Count > 0)
            {
                foreach (Clan c in Model)
                {
                    <tr class="smallFont">
                        <td>@c.Ime&nbsp;<br />@c.Prezime</td>

                        <td>@c.GodineStarosti &nbsp; god.</td>
                        <td>@Html.ActionLink("Izmjeni", "IzmijeniClana", "Home", new { id = c.ClanId }, new { @class = "button_example_small" })</td>
                        <td>@Html.ActionLink("Test", "Test", "Home", new { id = c.ClanId }, new { @class = "button_example_small" })</td>
                        <td>@Html.ActionLink("Trening", "TreningPopis", "Home", new { id = c.ClanId }, new { @class = "button_example_small" })</td>
                        <td>@Html.ActionLink("Detalji", "DetaljiClana", "Home", new { id = c.ClanId }, new { @class = "button_example_small" })</td>
                        <td>@Html.ActionLink("Izbriši", "IzbrisiClana", "Home", new { id = c.ClanId }, new { @class = "button_example_small" })</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="smallFont">Nema članova</td>
                </tr>
            }
        </table>

        @Html.ActionLink("Dodaj člana", "DodajClana", "Home", null, new { @class = "marginHeadlineTop marginTextBottom button_example" })
    </p>
</div>



