@using TrainingPlanner
@model List<IstezanjePopis>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="sidebar"></div>
<div id="content">
    <h2 class="green">Vježbe istezanja</h2>
    <p>
        <table class="responstable">
            @foreach (IstezanjePopis ip in Model)
            {
                if (ip.IstezanjeId == 0)
                {
                    <tr>
                        <td class="smallFont">Trenutno nema vježbi istezanja.</td>
                    </tr>
                }
                else
                {
                    <tr class="smallFont">
                        <td class="green">@ip.Naziv</td>
                        @if (ip.Info == null)
                        {
                            <td>--</td>
                        }
                        else
                        {
                            <td>@ip.Info</td>
                        }
                        <td>@Html.ActionLink("Izbriši", "IzbrisiIstezanje", "Home", new { id = ip.IstezanjeId }, new { @class = "button_example_small" })</td>
                        <td>@Html.ActionLink("Izmjeni", "IzmijeniIstezanje", "Home", new { id = ip.IstezanjeId }, new { @class = "button_example_small" })</td>
                        <td>@Html.ActionLink("Detalji", "DetaljiIstezanja", "Home", new { id = ip.IstezanjeId }, new { @class = "button_example_small" })</td>
                    </tr>
                }
            }
        </table>

        @Html.ActionLink("Dodaj", "DodajNovoIstezanje", "Home", null, new { @class = "marginHeadlineTop marginTextBottom button_example" })
        @Html.ActionLink("Popis članova", "Index", "Home", null, new { @class = "marginHeadlineTop marginTextBottom button_example" })
    </p>
</div>