@model TrainingPlanner.Test

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

@using (Html.BeginForm("IzmijeniTest", "Home", FormMethod.Post, new { enctype = "multipart/formdata" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Test</legend>
        
        @Html.HiddenFor(x => x.TestId)
        @Html.HiddenFor(x => x.ClanId)
        <div class="editor-label"
            >@Html.LabelFor(model => model.Dijagnostika)
        </div>

        <div class="editor-field">
            @if (Model.Dijagnostika == null)
            {
                @:None
            } else {
                <img width="150" height="150" src ="@Url.Action("GetImage", "Home", new {Model.TestId})" />
            }
            <div>Dodaj dijagnostiku: <input type="file" name ="dijagnostika" /></div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DatumTesta)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.DatumTesta, "{0:d}", new { @class = "dateInput", @placeholder = "Please enter date" })
            @Html.ValidationMessageFor(model => model.DatumTesta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ergometar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ergometar)
            @Html.ValidationMessageFor(model => model.Ergometar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Zgibovi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Zgibovi)
            @Html.ValidationMessageFor(model => model.Zgibovi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sklekovi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sklekovi)
            @Html.ValidationMessageFor(model => model.Sklekovi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Trbusnjaci)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Trbusnjaci)
            @Html.ValidationMessageFor(model => model.Trbusnjaci)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cucnjevi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cucnjevi)
            @Html.ValidationMessageFor(model => model.Cucnjevi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="Izmijeni" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Natrag na popis clanova", "Index")
</div>