@model TrainingPlanner.Test

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

@using (Html.BeginForm("IzmijeniTest", "Home", FormMethod.Post, new {enctype = "multipart/form-data"}))
{

    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.TestId)
    @Html.HiddenFor(x => x.ClanId)

    <div id="inputArea" style="float: left;">
        <p class="bigFont marginHeadline">Izmjeni test</p> 

        <div>
            <div class="marginInputBottom">@Html.LabelFor(model => model.Name, new {@class = "smallFont"})</div>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div>
            <div class="marginText">@Html.Label("Datum", new {@class = "smallFont"})</div>
            @Html.TextBoxFor(model => model.DatumTesta, "{0:dd/MM/yyyy}", new {@class = "dateInput"})
            @Html.ValidationMessageFor(model => model.DatumTesta)
        </div>
     
        <div>
            <div class="marginText">@Html.Label("Ergometar", new {@class = "smallFont"})</div>
            @Html.EditorFor(model => model.Ergometar)
            @Html.ValidationMessageFor(model => model.Ergometar)
        </div>
        
        <div>
            <div class="marginText">@Html.Label("Zgibovi", new {@class = "smallFont"})</div>
            @Html.EditorFor(model => model.Zgibovi)
            @Html.ValidationMessageFor(model => model.Zgibovi)
        </div>
        
        <div>
            <div class="marginText">@Html.Label("Sklekovi", new {@class = "smallFont"})</div>
            @Html.EditorFor(model => model.Sklekovi)
            @Html.ValidationMessageFor(model => model.Sklekovi)
        </div>
        
        <div>
            <div class="marginText">@Html.Label("Trbušnjaci", new {@class = "smallFont"})</div>
            @Html.EditorFor(model => model.Trbusnjaci)
            @Html.ValidationMessageFor(model => model.Trbusnjaci)
        </div>
        
        <div>
            <div class="marginText">@Html.Label("Čučnjevi", new {@class = "smallFont"})</div>
            @Html.EditorFor(model => model.Cucnjevi)
            @Html.ValidationMessageFor(model => model.Cucnjevi)
        </div>
        
        @if (Model.Slika.Count == 0)
        {
            <div class="marginText">
                @Html.Label("Dodaj sliku", new {@class = "smallFont"})
                <div>
                    <input type="file" name ="slike" value="" multiple="multiple" class="marginInputTop"/>
                </div>
            </div>
        }
        
        <div class="marginHeadlineTop marginTextBottom">
            <input type="submit" value="Spremi izmjene" class="button_example"/>
        </div>
        
        <div class="marginHeadlineTop marginTextBottom button_example">
            @Html.ActionLink("Popis testova", "Test", new {id = Model.ClanId }, null)
        </div>
    </div>

    if (Model.Slika.Count > 0)
    {
        <div id="inputAreaImages" style="float: left;">
            <p class="bigFont marginHeadline">Slike</p> 
            @foreach (var item in Model.Slika)
            {
                <div style="float: left; display: block; clear: right;" class="marginHeadline">
                    <div><img class="marginLeft" width="250" height="250" src ="@Url.Content(String.Format("~/Content/Slike/{0}", item.SlikaIme))" /></div>
                    <div class="marginLeft marginInputTop marginTextBottom button_example">@Html.ActionLink("Izbriši sliku", "IzbrisiSliku", "Home", new {id = Model.TestId, slika = item.SlikaId}, null)</div>
                </div>
            }
            <div class="marginText" style="clear: both;">
                @Html.Label("Dodaj sliku", new {@class = "smallFont"})
                <div>
                    <input type="file" name ="slike" value="" multiple="multiple" class="marginInputTop"/>
                </div>
            </div> 
        </div>
    }
}
