@model TrainingPlanner.Models.TreningDataModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    const string se = "sek";
}

<script type="text/javascript">
    function dodaj_napomene() {
        var zagrijavanje = document.getElementById('NapomenaZagrijavanjeHdn');
        zagrijavanje.value = document.getElementById('NapomenaZagrijavanje').value;
        var vjezbe = document.getElementById('NapomenaVjezbaHdn');
        vjezbe.value = document.getElementById('NapomenaVjezba').value;
        var istezanje = document.getElementById('NapomenaIstezanjeHdn');
        istezanje.value = document.getElementById('NapomenaIstezanje').value;
        document.getElementById("dodaj_trening_form").Submit();
    }
</script>

<div id="contentImg">
    @using (Html.BeginForm("IzmijeniTrening", "Home", FormMethod.Post, new { id = "dodaj_trening_form" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.TreningId)
        <h2 class="green">Izmjeni trening - @Model.ClanIme @Model.ClanPrezime</h2>
        <div id="inputAreaImgsTrening" style="float: left;">
            <div>
                <div class="marginInputBottom">@Html.Label("Ime treninga", new { @class = "smallFont" })</div>
                @Html.TextBoxFor(x => x.TreningImeTreninga)
                @Html.ValidationMessageFor(model => model.TreningImeTreninga, String.Empty, new { @class = "error" })
            </div>
            <div class="marginText">
                <div class="marginInputBottom">@Html.Label("Tip treninga", new { @class = "smallFont marginInputBottom" })</div>
                @Html.TextBoxFor(x => x.TreningTip)
                @Html.ValidationMessageFor(model => model.TreningTip, String.Empty, new { @class = "error" })
            </div>
            <div class="marginText">
                <div class="marginInputBottom">@Html.Label("Datum treninga", new { @class = "smallFont marginInputBottom" })</div>
                @Html.TextBoxFor(x => x.TreningDatum, "{0:dd/MM/yyyy}")
                @Html.ValidationMessageFor(model => model.TreningDatum, String.Empty, new { @class = "error" })
            </div>
            <div class="marginText">
                <div class="marginInputBottom">@Html.Label("Napomena", new { @class = "smallFont marginInputBottom" })</div>
                @Html.TextAreaFor(x => x.Napomena, new { rows = "10", cols = "40" })
                @Html.ValidationMessageFor(model => model.Napomena, String.Empty, new { @class = "error" })
            </div>
            @Html.HiddenFor(x => x.NapomenaZagrijavanje, new { id = "NapomenaZagrijavanjeHdn" })
            @Html.HiddenFor(x => x.NapomenaVjezba, new { id = "NapomenaVjezbaHdn" })
            @Html.HiddenFor(x => x.NapomenaIstezanje, new { id = "NapomenaIstezanjeHdn" })

            <div class="marginHeadlineTop marginTextBottom">
                <input type="submit" value="Izmjeni trening" class="button_example" onclick="dodaj_napomene()" />
            </div>

            @Html.ActionLink("Popis treninga", "TreningPopis", "Home", new { id = Model.ClanId }, new { @class = "marginHeadlineTop marginTextBottom button_example" })
        </div>
    }

    <div id="inputAreaTrening" style="float: left;">
        <!--Zagrijavanje-->
        <h2 id="0" class="green">Zagrijavanje</h2>
        <table class="responstableTrening">
            @if (Model.ZagrijavanjeSkupina == null)
            {
                <tr><td class="smallFont">Trenutno nema zagrijavanja.</td></tr>
            }
            else if (Model.ZagrijavanjeSkupina.ToList().Count == 0)
            {
                <tr><td class="smallFont">Trenutno nema zagrijavanja.</td></tr>
            }
            else
            {
                if (Model.ZagrijavanjeSkupina != null)
                {
                    foreach (var item in Model.ZagrijavanjeSkupina)
                    {
                        var brojacZagrijavanjeHeader = 0;
                        var brojacVjezbeHeader = 0;

                        if (item.PopisZagrijavanja != null)
                        {
                            var zagrijavanjaIds = item.PopisZagrijavanja.ToString();
                            List<string> zagrijavanjaList = new List<string>();

                            foreach (string zagrijavanjeId in zagrijavanjaIds.Split(','))
                            {
                                zagrijavanjaList.Add(zagrijavanjeId);
                            }
                            zagrijavanjaList.RemoveAt(zagrijavanjaList.Count - 1);

                            foreach (var zagrijavanje in zagrijavanjaList)
                            {
                                var tab = zagrijavanje.Substring(zagrijavanje.Length - 2, 2);
                                var zagId = zagrijavanje.Remove(zagrijavanje.Length - 2);
                                var currIdx = zagrijavanjaList.IndexOf(zagrijavanje);
                                if (currIdx > 0)
                                {
                                    var lastAdded = zagrijavanjaList.ElementAt(currIdx - 1);
                                    if (lastAdded.Substring(lastAdded.Length - 2, 2) == "ZZ")
                                    {
                                        brojacVjezbeHeader = 0;
                                    }
                                    if (lastAdded.Substring(lastAdded.Length - 2, 2) == "VZ")
                                    {
                                        brojacZagrijavanjeHeader = 0;
                                    }
                                }
                                if (tab == "ZZ")
                                {
                                    if(brojacZagrijavanjeHeader == 0)
                                    {
                                        <tr style="background-color:#C6C8C8;">
                                            <td class="treningFont">Naziv</td>
                                            <td class="treningFont">Puls</td>
                                            <td class="treningFont">Tempo</td>
                                            <td class="treningFont">Vrijeme trajanja</td>
                                            <td class="treningFont">Napomena</td>
                                        </tr>
                                    }
                                    var zag = item.Zagrijavanje.FirstOrDefault(x => x.ZagrijavanjeId == Convert.ToInt32(zagId));
                                    brojacZagrijavanjeHeader ++;

                                    int i = 1;

                                    <form action="@Url.Action("SpremiZagrijavanjeInfo", "Home", new { izmijeni = 1 })" method = "post">
                                        <tr id="@i" class="smallFont">
                                            @Html.Hidden("id", Model.TreningId)
                                            @Html.Hidden("ZagrijavanjeId", zag.ZagrijavanjeId)
                                            <td>@zag.Naziv</td>
                                            <td>@Html.TextBox("Puls", zag.Puls, new { @class = "marginInputBottom inputNumber" })</td>
                                            <td>@Html.TextBox("Tempo", zag.Tempo, new { @class = "marginInputBottom inputNumber" })</td>
                                            <td>@Html.TextBox("Trajanje", zag.Trajanje, new { @class = "marginInputBottom inputNumber" })</td>
                                            <td>@Html.TextBox("ZagrijavanjeNapomena", zag.ZagrijavanjeNapomena, new { @class = "marginInputBottom inputNumber" })</td>

                                            <td><a class="button_example_br" href="@Url.Action("IzbrisiZagrijavanjeTrening", "Home", new { id = zag.ZagrijavanjeId, index = currIdx, izmijeni = 1 })#0">Izbriši</a></td>
                                            <td>@Html.ActionLink("Detalji", "DetaljiZagrijavanja", "Home", new { id = zag.ZagrijavanjePopisZagrijavanjeId, izmijeni = 1, trening = 0, treningId = Model.TreningId, counter = i }, new { @class = "button_example_br" })</td>
                                            <td><input type="submit" name="SpremiZagrijavanjeInfo" value="Spremi" class="button_example_br" /></td>
                                        </tr>
                                    </form>
                                    i++;
                                }
                                if (tab == "VZ")
                                {
                                    if(brojacVjezbeHeader == 0)
                                    {
                                        <tr style="background-color:#C6C8C8;">
                                            <td class="treningFont">Naziv</td>
                                            <td class="treningFont">Vrijeme trajanja</td>
                                            <td class="treningFont">Broj serija</td>
                                            <td class="treningFont">Težina/Opterećenje</td>
                                            <td class="treningFont">Odmor</td>
                                        </tr>
                                    }
                                    var vjZag = item.VjezbaZagrijavanje.FirstOrDefault(x => x.VjezbaId == Convert.ToInt32(zagId));
                                    brojacVjezbeHeader++;

                                    int ii = 1;
                                    int zz = 1;
                                    const string zsekcija = "vjeSek";
                                    const string zvje = "vjeVje";

                                    <form action="@Url.Action("SpremiVjezbuInfo", "Home", new { refferer = "zagrijavanje", izmijeni = 1})#@ii@zsekcija" method="post">
                                        <tr id="@zz@zvje" class="smallFont">
                                            @Html.Hidden("id", Model.TreningId)
                                            @Html.Hidden("VjezbaId", vjZag.VjezbaId)
                                            <td>@vjZag.ImeVjezbe</td>
                                            <td>@Html.TextBox("brojPonavljanja", vjZag.BrojPonavljanja, new { @class = "marginInputBottom inputNumber" })</td>
                                            <td>@Html.TextBox("brojSerija", vjZag.BrojSerija, new { @class = "marginInputBottom inputNumber" })</td>
                                            <td>@Html.TextBox("Tezina", vjZag.Kilogrami, new { @class = "marginInputBottom inputNumber" })</td>
                                            <td>@Html.TextBox("Odmor", vjZag.Odmor, new { @class = "marginInputBottom inputNumber" })</td>

                                            <td><a class="button_example_br" href="@Url.Action("IzbrisiVjezbuIzZagrijavanjaTrening", "Home", new { id = vjZag.VjezbaId, izmijeni = 1, index = currIdx })">Izbriši</a></td>
                                            <td>@Html.ActionLink("Detalji", "DetaljiVjezbe", "Home", new { id = vjZag.VjezbePopisVjezbeId, izmijeni = 1, trening = 0, treningId = Model.TreningId, counter = ii }, new { @class = "button_example_br" })</td>
                                            <td><input type="submit" name="SpremiVjezbuInfo" value="Spremi" class="button_example_br" /></td>
                                        </tr>
                                    </form>
                                }
                            }
                        }
                    }
                }
            }
        </table>
        <div>
            <div class="marginInputBottom">@Html.Label("Napomena", new { @class = "smallFont" })</div>
            @Html.TextAreaFor(x => x.NapomenaZagrijavanje, new { @id = "NapomenaZagrijavanje", @style = "width: 400px; height: 60px;" })
            @Html.ValidationMessageFor(model => model.NapomenaZagrijavanje, String.Empty, new { @class = "error" })
        </div>

            @if (Model.ZagrijavanjeSkupina == null)
            {
                <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajZagrijavanjeTrening", "Home", new { id = Model.TreningId, izmijeni = 1, sekcija = 0, refferer = "", counter = 0 })">Dodaj zagrijavanje</a>
                <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajVjezbuTrening", "Home", new { id = 0, id1 = Model.TreningId.ToString(), izmijeni = 1, counter = 0, skupina = 0, refferer = "zagrijavanje" })">Dodaj vježbu</a>
            }
            else if (Model.ZagrijavanjeSkupina.ToList().Count == 0)
            {
                <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajZagrijavanjeTrening", "Home", new { id = Model.TreningId, izmijeni = 1, sekcija = 0, refferer = "", counter = 0 })">Dodaj zagrijavanje</a>
                <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajVjezbuTrening", "Home", new { id = 0, id1 = Model.TreningId.ToString(), izmijeni = 1, counter = 0, skupina = Model.ZagrijavanjeSkupina.FirstOrDefault().ZagrijavanjeSkupinaId, refferer = "zagrijavanje" })">>Dodaj vježbu</a>
            }
            else
            {
                <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajZagrijavanjeTrening", "Home", new { id = Model.TreningId, izmijeni = 1, sekcija = 0, refferer = "", counter = Model.ZagrijavanjeSkupina.Count - 1 })">Dodaj zagrijavanje</a>
                <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajVjezbuTrening", "Home", new { id = 0, id1 = Model.TreningId.ToString(), izmijeni = 1, counter = 0, skupina = Model.ZagrijavanjeSkupina.FirstOrDefault().ZagrijavanjeSkupinaId, refferer = "zagrijavanje" })">Dodaj vježbu</a>
            }

        <!--Vjezbe-->
        <h2 id="0vje" class="green marginHeadlineTop">Vježbe</h2>

        @if (Model.SekcijaVjezbi == null)
            {
            <table class="responstableTrening">
                <tr>
                    <td class="smallFont">Trenutno nema vježbi.</td>
                </tr>
            </table>
            }
            else if (Model.SekcijaVjezbi.ToList().Count == 0)
            {
            <table class="responstableTrening">
                <tr>
                    <td class="smallFont">Trenutno nema vježbi.</td>
                </tr>
            </table>
            }
            else
            {
                int i = 1;
                int z = 1;
                const string sekcija = "sek";
                const string vje = "vje";
                foreach (var item in Model.SekcijaVjezbi)
                {
            <div id="@i@sekcija" class="treningFont">Sekcija @i</div>
            <table class="responstableTrening">
                <form action="@Url.Action("SpremiBrojKrugova", "Home", new { izmijeni = 1 })#@i@sekcija" method="post">
                    @Html.Hidden("id", Model.TreningId)
                    @Html.Hidden("sekcijaId", item.SekcijaId)
                    <td style="background-color: white; border:none;">
                        @Html.Label("Broj krugova", new { @class = "treningFont" })
                        @Html.TextBox("brojKrugova", item.BrojKrugova, new { @class = "inputNumber" })
                    </td>
                    <td style="background-color: white; border:none;">
                        @Html.Label("Odmor:", new { @class = "treningFont" })
                        @Html.TextBox("odmor", item.Odmor, new { @class = "inputNumber" })
                    </td>
                    <td style="background-color: white; border:none;">
                        <input type="submit" name="SpremiBrojKrugova" value="Spremi broj krugova" class="button_example_br" />
                    </td>
                </form>
                @{
                        var brojacZaHeaderVjezbe = 0;
                        var brojacZaHeaderAerobneVjezbe = 0;
                        var brojacZaHeaderAnaerobneVjezbe = 0;
                        var brojacZaHeaderZagrijavanje = 0;
                }
                @if (item.PopisVjezbi != null)
                    {
                        var vjezbeIds = item.PopisVjezbi.ToString();
                        List<string> vjezbeList = new List<string>();

                        foreach (string vjezbaId in vjezbeIds.Split(','))
                        {
                            vjezbeList.Add(vjezbaId);
                        }
                        vjezbeList.RemoveAt(vjezbeList.Count - 1);

                        foreach (var vjezba in vjezbeList)
                        {
                            var tablica = vjezba.Substring(vjezba.Length - 2, 2);
                            var vjezbaId = vjezba.Remove(vjezba.Length - 2);
                            var currentIndex = vjezbeList.IndexOf(vjezba);
                            if (currentIndex > 0)
                            {
                                var lastAddedItem = vjezbeList.ElementAt(currentIndex - 1);
                                if (lastAddedItem.Substring(lastAddedItem.Length - 2, 2) == "AV" || lastAddedItem.Substring(lastAddedItem.Length - 2, 2) == "NV" || lastAddedItem.Substring(lastAddedItem.Length - 2, 2) == "ZV")
                                {
                                    brojacZaHeaderVjezbe = 0;
                                }
                                if (lastAddedItem.Substring(lastAddedItem.Length - 2, 2) == "VV" || lastAddedItem.Substring(lastAddedItem.Length - 2, 2) == "NV" || lastAddedItem.Substring(lastAddedItem.Length - 2, 2) == "ZV")
                                {
                                    brojacZaHeaderAerobneVjezbe = 0;
                                }
                                if (lastAddedItem.Substring(lastAddedItem.Length - 2, 2) == "VV" || lastAddedItem.Substring(lastAddedItem.Length - 2, 2) == "AV" || lastAddedItem.Substring(lastAddedItem.Length - 2, 2) == "ZV")
                                {
                                    brojacZaHeaderAnaerobneVjezbe = 0;
                                }
                                if (lastAddedItem.Substring(lastAddedItem.Length - 2, 2) == "AV" || lastAddedItem.Substring(lastAddedItem.Length - 2, 2) == "VV" || lastAddedItem.Substring(lastAddedItem.Length - 2, 2) == "NV")
                                {
                                    brojacZaHeaderZagrijavanje = 0;
                                }
                            }
                            if (tablica == "VV")
                            {
                                if (brojacZaHeaderVjezbe == 0)
                                {
                    <tr style="background-color:#C6C8C8;">
                        <td class="treningFont">Naziv</td>
                        <td class="treningFont">Vrijeme trajanja</td>
                        <td class="treningFont">Broj serija</td>
                        <td class="treningFont">Težina/Opterećenje</td>
                        <td class="treningFont">Odmor</td>
                    </tr>
                                }
                                var vj = item.Vjezba.FirstOrDefault(x => x.VjezbaId == Convert.ToInt32(vjezbaId));

                                brojacZaHeaderVjezbe++;
                    <form action="@Url.Action("SpremiVjezbuInfo", "Home", new { izmijeni = 1 })#@i@sekcija" method="post">
                        <tr id="@z@vje" class="smallFont">
                            @Html.Hidden("id", Model.TreningId)
                            @Html.Hidden("VjezbaId", vj.VjezbaId)
                            <td>@vj.ImeVjezbe</td>
                            <td>@Html.TextBox("brojPonavljanja", vj.BrojPonavljanja, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("brojSerija", vj.BrojSerija, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("Tezina", vj.Kilogrami, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("Odmor", vj.Odmor, new { @class = "marginInputBottom inputNumber" })</td>

                            <td><a class="button_example_br" href="@Url.Action("IzbrisiVjezbuTrening", "Home", new { id = vj.VjezbaId, index = currentIndex, izmijeni = 1 })#@i@sekcija">Izbriši</a></td>
                            <td>@Html.ActionLink("Detalji", "DetaljiVjezbe", "Home", new { id = vj.VjezbePopisVjezbeId, izmijeni = 1, trening = 0, treningId = Model.TreningId, counter = i }, new { @class = "button_example_br" })</td>
                            <td><input type="submit" name="SpremiVjezbuInfo" value="Spremi" class="button_example_br" /></td>
                        </tr>
                    </form>
                                z++;
                            }
                            if (tablica == "AV")
                            {
                                if (brojacZaHeaderAerobneVjezbe == 0)
                                {
                    <tr style="background-color:#C6C8C8;">
                        <td class="treningFont">Naziv</td>
                        <td class="treningFont">Puls</td>
                        <td class="treningFont">Tempo</td>
                        <td class="treningFont">Trajanje</td>
                        <td class="treningFont">Odmor</td>
                        <td class="treningFont">Napomena</td>
                    </tr>
                                }
                                var avj = item.AerobneVjezbe.FirstOrDefault(x => x.AerobnaVjezbaId == Convert.ToInt32(vjezbaId));
                                brojacZaHeaderAerobneVjezbe++;
                    <form action="@Url.Action("SpremiAerobnuVjezbuInfo", "Home", new { izmijeni = 1 })#@i@sekcija" method="post">
                        <tr id="@z@vje" class="smallFont">
                            @Html.Hidden("id", Model.TreningId)
                            @Html.Hidden("VjezbaId", avj.AerobnaVjezbaId)
                            <td>@avj.Naziv</td>
                            <td>@Html.TextBox("Puls", avj.Puls, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("Tempo", avj.Tempo, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("Trajanje", avj.Trajanje, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("Odmor", avj.Odmor, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("ANapomena", avj.Napomena, new { @class = "marginInputBottom inputNumber" })</td>

                            <td><a class="button_example_br" href="@Url.Action("IzbrisiAerobnuVjezbuTrening", "Home", new { id = avj.AerobnaVjezbaId, index = currentIndex, izmijeni = 1 })#@i@sekcija">Izbriši</a></td>
                            <td>@Html.ActionLink("Detalji", "DetaljiAerobneVjezbe", "Home", new { id = avj.AerobneVjezbePopisAerobnaVjezbaId, izmijeni = 1, trening = 0, treningId = Model.TreningId, counter = i }, new { @class = "button_example_br" })</td>
                            <td><input type="submit" name="SpremiAerobnuVjezbuInfo" value="Spremi" class="button_example_br" /></td>
                        </tr>
                    </form>
                            }
                            if (tablica == "NV")
                            {
                                if (brojacZaHeaderAnaerobneVjezbe == 0)
                                {
                    <tr style="background-color:#C6C8C8;">
                        <td class="treningFont">Naziv</td>
                        <td class="treningFont">Puls</td>
                        <td class="treningFont">Tempo</td>
                        <td class="treningFont">Broj sprintova</td>
                        <td class="treningFont">Trajanje sprinta</td>
                        <td class="treningFont">Odmor</td>
                        <td class="treningFont">Napomena</td>
                    </tr>
                                }
                                var nvj = item.AnaerobneVjezbe.FirstOrDefault(x => x.AnaerobnaVjezbaId == Convert.ToInt32(vjezbaId));
                                brojacZaHeaderAnaerobneVjezbe++;
                    <form action="@Url.Action("SpremiAnaerobnuVjezbuInfo", "Home", new { izmijeni = 1 })#@i@sekcija" method="post">
                        <tr id="@z@vje" class="smallFont">
                            @Html.Hidden("id", Model.TreningId)
                            @Html.Hidden("VjezbaId", nvj.AnaerobnaVjezbaId)
                            <td>@nvj.Naziv</td>
                            <td>@Html.TextBox("Puls", nvj.Puls, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("Tempo", nvj.Tempo, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("BrojSprintova", nvj.BrojSprintova, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("TrajanjeSprinta", nvj.TrajanjeSprinta, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("Odmor", nvj.Odmor, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("NNapomena", nvj.Napomena, new { @class = "marginInputBottom inputNumber" })</td>

                            <td><a class="button_example_br" href="@Url.Action("IzbrisiAnaerobnuVjezbuTrening", "Home", new { id = nvj.AnaerobnaVjezbaId, index = currentIndex, izmijeni = 1 })#@i@sekcija">Izbriši</a></td>
                            <td>@Html.ActionLink("Detalji", "DetaljiAnaerobneVjezbe", "Home", new { id = nvj.AnaerobneVjezbePopisAnaerobnaVjezbaId, izmijeni = 1, trening = 0, treningId = Model.TreningId, counter = i }, new { @class = "button_example_br" })</td>
                            <td><input type="submit" name="SpremiAnaerobnuVjezbuInfo" value="Spremi" class="button_example_br" /></td>
                        </tr>
                    </form>
                            }
                            if (tablica == "ZV")
                            {
                                if (brojacZaHeaderZagrijavanje == 0)
                                {
                    <tr style="background-color:#C6C8C8;">
                        <td class="treningFont">Naziv</td>
                        <td class="treningFont">Puls</td>
                        <td class="treningFont">Tempo</td>
                        <td class="treningFont">Vrijeme trajanja</td>
                        <td class="treningFont">Napomena</td>
                    </tr>
                                }
                                var zvj = item.ZagrijavanjeVjezba.FirstOrDefault(x => x.ZagrijavanjeVjezbaId == Convert.ToInt32(vjezbaId));
                                brojacZaHeaderZagrijavanje++;
                    <form action="@Url.Action("SpremiZagrijavanjeUVjezbuInfo", "Home", new { izmijeni = 1 })#@i@sekcija" method="post">
                        <tr id="@z@vje" class="smallFont">
                            @Html.Hidden("id", Model.TreningId)
                            @Html.Hidden("VjezbaId", zvj.ZagrijavanjeVjezbaId)
                            <td>@zvj.Naziv</td>
                            <td>@Html.TextBox("Puls", zvj.Puls, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("Tempo", zvj.Tempo, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("Trajanje", zvj.Trajanje, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("Odmor", zvj.Odmor, new { @class = "marginInputBottom inputNumber" })</td>
                            <td>@Html.TextBox("ZagrijavanjeNapomena", zvj.ZagrijavanjeNapomena, new { @class = "marginInputBottom inputNumber" })</td>

                            <td><a class="button_example_br" href="@Url.Action("IzbrisiZagrijavanjeIzVjezbeTrening", "Home", new { id = zvj.ZagrijavanjeVjezbaId, index = currentIndex, izmijeni = 1 })#0">Izbriši</a></td>
                            <td>@Html.ActionLink("Detalji", "DetaljiZagrijavanja", "Home", new { id = zvj.ZagrijavanjePopisZagrijavanjeId1, izmijeni = 1, trening = 0, treningId = Model.TreningId, counter = i }, new { @class = "button_example_br" })</td>
                            <td><input type="submit" name="SpremiZagrijavanjeUVjezbuInfo" value="Spremi" class="button_example_br" /></td>
                        </tr>
                    </form>
                            }
                        }
                    }
            </table>

                if (Model.SekcijaVjezbi == null)
                {
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajVjezbuTrening", "Home", new { id = item.SekcijaId, id1 = Model.TreningId.ToString(), izmijeni = 1, counter = 0 })">Dodaj vježbu</a>
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajAerobnuVjezbuTrening", "Home", new { id = item.SekcijaId, id1 = Model.TreningId.ToString(), izmijeni = 1, counter = 0 })">Dodaj aerobnu vježbu</a>
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajAnaerobnuVjezbuTrening", "Home", new { id = item.SekcijaId, id1 = Model.TreningId.ToString(), izmijeni = 1, counter = 0 })">Dodaj anaerobnu vježbu</a>
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajZagrijavanjeTrening", "Home", new { id = item.SekcijaId, id1 = Model.TreningId.ToString(), izmijeni = 1, counter = 0 })">Dodaj zagrijavanje</a>
                }
                else if (Model.SekcijaVjezbi.ToList().Count == 0)
                {
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajVjezbuTrening", "Home", new { id = item.SekcijaId, id1 = Model.TreningId.ToString(), izmijeni = 1, counter = 0 })">Dodaj vježbu</a>
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajAerobnuVjezbuTrening", "Home", new { id = item.SekcijaId, id1 = Model.TreningId.ToString(), izmijeni = 1, counter = 0 })">Dodaj aerobnu vježbu</a>
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajAnaerobnuVjezbuTrening", "Home", new { id = item.SekcijaId, id1 = Model.TreningId.ToString(), izmijeni = 1, counter = 0 })">Dodaj anaerobnu vježbu</a>
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajZagrijavanjeTrening", "Home", new { id = item.SekcijaId, id1 = Model.TreningId.ToString(), izmijeni = 1, counter = 0 })">Dodaj zagrijavanje</a>
                }
                else
                {
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajVjezbuTrening", "Home", new { id = item.SekcijaId, id1 = Model.TreningId.ToString(), izmijeni = 1, counter = i })">Dodaj vježbu</a>
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajAerobnuVjezbuTrening", "Home", new { id = item.SekcijaId, id1 = Model.TreningId.ToString(), izmijeni = 1, counter = 0 })">Dodaj aerobnu vježbu</a>
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajAnaerobnuVjezbuTrening", "Home", new { id = item.SekcijaId, id1 = Model.TreningId.ToString(), izmijeni = 1, counter = 0 })">Dodaj anaerobnu vježbu</a>
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajZagrijavanjeTrening", "Home", new { id = Model.TreningId.ToString(), izmijeni = 1, counter = 0, refferer = "vjezba", sekcija = item.SekcijaId })">Dodaj zagrijavanje</a>
                }

            <a class="marginLeft marginHeadlineTop marginTextBottom button_example" href="@Url.Action("IzbrisiSekcijuVjezbi", "Home", new { id = item.SekcijaId, izmijeni = 1 })#0vje">Izbriši sekciju vježbi</a>
            <hr />
                i++;
            }
        }
        <br />

        <div>
            <div class="marginInputBottom">@Html.Label("Napomena", new { @class = "smallFont" })</div>
            @Html.TextAreaFor(x => x.NapomenaVjezba, new { @id = "NapomenaVjezba", @style = "width: 400px; height: 60px;" })
            @Html.ValidationMessageFor(model => model.NapomenaVjezba, String.Empty, new { @class = "error" })
        </div>

        <a id="dodajSekcijuVjezbi" class="button_example" href="@Url.Action("DodajSekcijuTrening", "Home", new { id = Model.TreningId, izmijeni = 1 })#dodajSekcijuVjezbi">Dodaj sekciju vježbi</a>

        <!--Istezanje-->
        <h2 id="0ist" class="green marginHeadlineTop">Istezanje</h2>
        <table class="responstableTrening">
            @if (Model.ListaIstezanja == null)
            {
                <tr>
                    <td class="smallFont">Trenutno nema istezanja.</td>
                </tr>
            }
            else if (Model.ListaIstezanja.ToList().Count == 0)
            {
                <tr>
                    <td class="smallFont">Trenutno nema istezanja.</td>
                </tr>
            }
            else
            {
                <tr style="background-color:#C6C8C8;">
                    <td class="treningFont">Naziv</td>
                    <td class="treningFont">Vrijeme izdržaja</td>
                    <td class="treningFont">Vrsta istezanja</td>
                </tr>
                int i = 1;
                const string ist = "ist";
                foreach (var istezanje in Model.ListaIstezanja)
                {
                <form action="@Url.Action("SpremiIstezanjeInfo", "Home", new { izmijeni = 1 })#@i@ist" method="post">
                    <tr id="@i@ist" class="smallFont">
                        @Html.Hidden("id", Model.TreningId)
                        @Html.Hidden("IstezanjeId", istezanje.IstezanjeId)
                        <td>@istezanje.Naziv</td>
                        <td>@Html.TextBox("vrijemeIzdrzaja", istezanje.VrijemeIzdrzaja, new { @class = "marginInputBottom inputNumber" })</td>
                        <td>@Html.TextBox("vrstaIstezanja", istezanje.VrstaIstezanja, new { @class = "marginInputBottom inputNumber" })</td>

                        <td><a class="button_example_br" href="@Url.Action("IzbrisiIstezanjeTrening", "Home", new { id = istezanje.IstezanjeId, izmijeni = 1 })#0ist">Izbriši</a></td>
                        <td>@Html.ActionLink("Detalji", "DetaljiIstezanja", "Home", new { id = istezanje.IstezanjePopisIstezanjeId, izmijeni = 1, trening = 0, treningId = Model.TreningId, counter = i }, new { @class = "button_example_br" })</td>
                        <td><input type="submit" name="SpremiIstezanjeInfo" value="Spremi" class="button_example_br" /></td>
                    </tr>
                </form>
                    i++;
                }
            }
        </table>
        <div>
            <div class="marginInputBottom">@Html.Label("Napomena", new { @class = "smallFont" })</div>
            @Html.TextAreaFor(x => x.NapomenaIstezanje, new { @id = "NapomenaIstezanje", @style = "width: 400px; height: 60px;" })
            @Html.ValidationMessageFor(model => model.NapomenaIstezanje, String.Empty, new { @class = "error" })
        </div>
        @if (Model.ListaIstezanja == null)
        {
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajIstezanjeTrening", "Home", new { id = Model.TreningId, izmijeni = 1, counter = 0 })">Dodaj istezanje</a>
        }
        else if (Model.ListaIstezanja.ToList().Count == 0)
        {
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajIstezanjeTrening", "Home", new { id = Model.TreningId, izmijeni = 1, counter = 0 })">Dodaj istezanje</a>
        }
        else
        {
            <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajIstezanjeTrening", "Home", new { id = Model.TreningId, izmijeni = 1, counter =  Model.ListaIstezanja.Count })">Dodaj istezanje</a>
        }
        <a class="marginHeadlineTop marginTextBottom button_example" href="@Url.Action("DodajPredlozakTrening", "Home", new { id = Model.TreningId, izmijeni = 1})">Dodaj predlozak istezanja</a>
    </div>
</div>