@model TrainingPlanner.VjezbePopis

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}
    
@using (Html.BeginForm("IzmijeniVjezbu", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>ZagrijavanjePopis</legend>   
            
            @Html.HiddenFor(model => model.VjezbeId)
            
        <div class="editor-field">
            @if (Model.VjezbeSlike.Count == 0)
            {
                @:None
            } else {
                foreach(var item in Model.VjezbeSlike)
                {
                    <img width="150" height="150" src ="@Url.Content(String.Format("~/Content/VjezbeSlike/{0}", item.VjezbeSlikaIme))" />
                    <div>@Html.ActionLink("IzbrisiSliku", "IzbrisiSlikuVjezbe", "Home", new { id = Model.VjezbeId, slika = item.VjezbeSlikeId }, null)</div>
                }
            }
            <div>Dodaj sliku: <input type="file" name ="slike" value="" multiple="multiple"/></div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImeVjezbe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImeVjezbe)
            @Html.ValidationMessageFor(model => model.ImeVjezbe)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.Info)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Info)
            @Html.ValidationMessageFor(model => model.Info)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Slika)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Slika)
            @Html.ValidationMessageFor(model => model.Slika)
        </div>
    
        <p>
            <input type="submit" value="Spremi izmijene" />
        </p>
    </fieldset>
}
    
<div>
    @Html.ActionLink("Natrag na Popis Vjezbi", "VjezbePopis")
</div>
