@using TrainingPlanner
@model Clan

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

<div>
    @using(Html.BeginForm("IzmijeniClana", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(x =>x.ClanId)            
        <table>
        <tr>
            <td>
                Ime:
            </td>
            <td>
                @Html.TextAreaFor(x=>x.Ime)
                @Html.ValidationMessageFor(m=>m.Ime)
            </td>
        </tr>
        <tr>
            <td>
                Prezime:
            </td>
            <td>
                @Html.TextAreaFor(x=>x.Prezime)
                @Html.ValidationMessageFor(m=>m.Prezime)
            </td>
        </tr>
        <tr>
            <td>
                Visina:
            </td>
            <td>
                @Html.TextAreaFor(x=>x.Visina)
                @Html.ValidationMessageFor(m=>m.Visina)
            </td>
        </tr>
        <tr>
            <td>
                Težina:
            </td>
            <td>
                @Html.TextAreaFor(x=>x.Tezina)
                @Html.ValidationMessageFor(m=>m.Tezina)
            </td>
        </tr>
        <tr>
            <td>
                Datum rođenja:
            </td>
            <td>
                @Html.TextBoxFor(x=>x.GodinaRodenja, "{0:dd/MM/yyyy}", new { @class = "dateInput", @placeholder = "Please enter date" })
                @Html.ValidationMessageFor(m=>m.GodinaRodenja)
            </td>
        </tr>
        <tr>
            <td>
                Amneza:
            </td>
            <td>
                @Html.TextAreaFor(x=>x.Amneza, new {rows = "10", cols = "40" })
                @Html.ValidationMessageFor(m=>m.Amneza)
            </td>
        </tr>
            <tr>
            <td>
                Napomena:
            </td>
            <td>
                @Html.TextAreaFor(x => x.Napomena, new {rows = "10", cols = "40" })
                @Html.ValidationMessageFor(m=>m.Napomena)
            </td>
        </tr>
    </table>
    <input type ="submit" name ="Spremi" value="Spremi člana" />
    }
</div>
<div>
    @Html.ActionLink("Natrag na popis članova", "Index")
</div>
