@using TrainingPlanner
@model Clan

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}
@using (Html.BeginForm("IzmijeniClana", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x =>x.ClanId) 
    
    <div id="inputArea">
        <p class="bigFont marginHeadline">Izmjeni člana</p>
         
        <div>
            <div class="marginInputBottom">@Html.Label("Ime", new { @class="smallFont" })</div>
            @Html.EditorFor(x=>x.Ime)
            @Html.ValidationMessageFor(x=>x.Ime)
        </div>
        
        <div class="marginText">
            <div class="marginInputBottom">@Html.Label("Prezime", new { @class="smallFont marginInputBottom" })</div>
            @Html.EditorFor(x=>x.Prezime)
            @Html.ValidationMessageFor(x=>x.Prezime)
        </div>
        
        <div class="marginText">
            <div class="marginInputBottom">@Html.Label("Visina", new { @class="smallFont marginInputBottom" })</div>
            @Html.EditorFor(x=>x.Visina)
            @Html.ValidationMessageFor(x=>x.Visina)
        </div>
        
        <div class="marginText">
            <div class="marginInputBottom">@Html.Label("Težina", new { @class="smallFont marginInputBottom" })</div>
            @Html.EditorFor(x=>x.Tezina)
            @Html.ValidationMessageFor(x=>x.Tezina)
        </div>
        
        <div class="marginText">
            <div class="marginInputBottom">@Html.Label("Datum rođenja", new { @class="smallFont marginInputBottom" })</div>
            @Html.TextBoxFor(x=>x.GodinaRodenja, "{0:dd/MM/yyyy}", new { @class = "dateInput" })
            @Html.ValidationMessageFor(m=>m.GodinaRodenja)
        </div>
        
        <div class="marginText">
            <div class="marginInputBottom">@Html.Label("Amneza", new { @class="smallFont marginInputBottom" })</div>
            @Html.TextAreaFor(x=>x.Amneza, new {rows = "10", cols = "40"})
            @Html.ValidationMessageFor(x=>x.Amneza)
        </div>
        
         <div class="marginText">
            <div class="marginInputBottom">@Html.Label("Napomena", new { @class="smallFont marginInputBottom" })</div>
            @Html.TextAreaFor(x => x.Napomena, new {rows = "10", cols = "40" })
            @Html.ValidationMessageFor(x=>x.Napomena)
        </div>
        
        <div class="marginHeadlineTop marginTextBottom">
            <input type ="submit" name ="Spremi" value="Spremi" class="button_example"/>
        </div>
        <div class="marginHeadlineTop marginTextBottom button_example">
            @Html.ActionLink("Natrag na popis članova", "Index")
        </div>
    </div>
}
