@model TrainingPlanner.Models.TestList

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        <h1>@Model.clan.Ime @Model.clan.Prezime</h1>
        Popis testova:

        <div>
            @if(Model.listaTestova != null)
            {
            foreach (var test in Model.listaTestova)
            {
                <table>                    
                    <tr>
                <td>@test.Name</td> 
                <td>@Html.ActionLink("Izbrisi", "IzbrisiTest", "Home", new {id = test.TestId}, null)</td> 
                <td>@Html.ActionLink("Izmijeni", "IzmijeniTest", "Home", new {id = test.TestId}, null)</td>
                <td>@Html.ActionLink("Detalji", "DetaljiTest", "Home", new {id = test.TestId}, null)</td>
                    </tr>
                </table>
            }
            }
        </div>
        <br/>
        @Html.ActionLink("Dodaj Test", "DodajTest", "Home", new {id = Model.clan.ClanId }, null)
        <br/>
        @Html.ActionLink("Natrag na popis sportasa", "Index", "Home")
    </div>
</body>
</html>
