@model TrainingPlanner.Models.TestList

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

<div>
    <h1>@Model.Clan.Ime @Model.Clan.Prezime</h1>
    Popis testova:
    @if(Model.ListaTestova == null)
    {
        <div>Trenutno nema testova.</div>
    }
        
    <div>
        @if(Model.ListaTestova != null)
        {
            foreach (var test in Model.ListaTestova)
            {
                <table>                    
                    <tr>
                <td>@test.Name</td> 
                <td>@Html.ActionLink("Izbrisi", "IzbrisiTest", "Home", new {id = test.TestId}, null)</td> 
                <td>@Html.ActionLink("Izmijeni", "IzmijeniTest", "Home", new {id = test.TestId}, null)</td>
                <td>@Html.ActionLink("Detalji", "DetaljiTest", "Home", new {id = test.TestId}, null)</td>
                    </tr>
                </table>
            }
        }
    </div>
    <br/>
    @Html.ActionLink("Dodaj Test", "DodajTest", "Home", new {id = Model.Clan.ClanId }, null)
    <br/>
    @Html.ActionLink("Natrag na popis sportasa", "Index", "Home")
</div>
