@using TrainingPlanner.Models
@model TrainingPlanner.Models.TestList

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="sidebar"></div>
<div id="content">
    <h2 class="green">Testovi - @Model.Clan.Ime @Model.Clan.Prezime</h2>
    <p>
        <table class="responstable">
            @if (Model.ListaTestova == null)
            {
                <tr>
                    <td class="smallFont">Trenutno nema testova.</td>
                </tr>
            }
            else
            {
                foreach (var test in Model.ListaTestova)
                {
                    <tr class="smallFont">
                        <td class="green">@test.Name</td>
                        <td>@Html.ActionLink("Izmjeni", "IzmijeniTest", "Home", new { id = test.TestId }, new { @class = "button_example_small" })</td>
                        <td>@Html.ActionLink("Detalji", "DetaljiTest", "Home", new { id = test.TestId }, new { @class = "button_example_small" })</td>
                        <td>@Html.ActionLink("Izbriši", "IzbrisiTest", "Home", new { id = test.TestId }, new { @class = "button_example_small", onclick = "return confirm('Jeste li sigurni da zelite izbrisati test?');" })</td>
                    </tr>
                }
            }
        </table>

        @Html.ActionLink("Dodaj test", "DodajTest", "Home", new { id = Model.Clan.ClanId }, new { @class = "marginHeadlineTop marginTextBottom button_example" })
        @Html.ActionLink("Popis članova", "Index", "Home", null, new { @class = "marginHeadlineTop marginTextBottom button_example" })
    </p>
</div>
