@using TrainingPlanner
@model List<Trening>

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

<div id="inputAreaTable">
    <div class="bigFont marginHeadline">Trening <br />@ViewData["ImeClana"] @ViewData["PrezimeClana"]</div>
    <table class="responstable">

        @foreach (Trening tr in Model)
        {
            if (tr.TreningId == 0)
            {
                <tr>
                    <td class="smallFont">Trenutno nema treninga.</td>
                </tr>
            }
            else
            {
                <tr class="smallFont">
                    <td>@tr.ImeTreninga</td>
                    <td>@tr.DatumTreninga.Value.Date.ToShortDateString()</td> 
                    <td>@Html.ActionLink("Izbriši", "IzbrisiTrening", "Home", new { id = tr.TreningId }, new { @class = "button_example_small" })</td>
                    <td>@Html.ActionLink("Izmijeni", "IzmijeniTrening", "Home", new { id = tr.TreningId }, new { @class = "button_example_small" })</td>
                    <td>@Html.ActionLink("Detalji", "DetaljiTrening", "Home", new { id = tr.TreningId }, new { @class = "button_example_small" })</td>
                </tr>
            }
        }
    </table>

    @Html.ActionLink("Dodaj", "DodajTrening", "Home", new { id = Model.FirstOrDefault().ClanId }, new { @class = "marginHeadlineTop marginTextBottom button_example" })
    @Html.ActionLink("Popis članova", "Index", "Home", null, new { @class = "marginHeadlineTop marginTextBottom button_example" })
</div>
