@using TrainingPlanner
@model List<VjezbePopis>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="contentImg">
    <h2 class="green">Vježbe treninga</h2>
    <p>
        <table class="responstableTrening">
            @foreach (VjezbePopis vjp in Model)
            {
                if (vjp.VjezbeId == 0)
                {
                    <tr>
                        <td class="smallFont">Trenutno nema vježbi.</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td class="smallFontGreen">@vjp.ImeVjezbe</td>
                        @if (vjp.Info == null)
                        {
                            <td class="smallFont">--</td>
                        }
                        else
                        {
                            <td class="smallFontNotCentered">@vjp.Info</td>
                        }
                        @if (vjp.VjezbeSlike.Count > 0)
                        {
                            <td>
                                @foreach (var item in vjp.VjezbeSlike)
                                {
                                    <div style="float: left; display: block;">
                                        <div>
                                            <a href="~/Content/VelikeSlike/@item.VjezbeSlikaIme" target="_blank">
                                                <img class="marginLeft" width="50" height="50" src="@Url.Content(String.Format("~/Content/MaleSlike/{0}", item.VjezbeSlikaIme))" />
                                            </a>
                                        </div>
                                    </div>
                                }
                            </td>
                        }
                        else
                        {
                            <td class="smallFont">--</td>
                        }
                        <td>@Html.ActionLink("Izmjeni", "IzmijeniVjezbu", "Home", new { id = vjp.VjezbeId }, new { @class = "button_example_small" })</td>
                        <td>@Html.ActionLink("Detalji", "DetaljiVjezbe", "Home", new { id = vjp.VjezbeId }, new { @class = "button_example_small" })</td>
                        <td>@Html.ActionLink("Izbriši", "IzbrisiVjezbu", "Home", new { id = vjp.VjezbeId }, new { @class = "button_example_small", onclick = "return confirm('Jeste li sigurni da zelite izbrisati vjezbu?');" })</td>
                    </tr>
                }
            }
        </table>

        @Html.ActionLink("Dodaj", "DodajNovuVjezbu", "Home", null, new { @class = "marginHeadlineTop marginTextBottom button_example" })
        @Html.ActionLink("Popis članova", "Index", "Home", null, new { @class = "marginHeadlineTop marginTextBottom button_example" })
    </p>
</div>