@using TrainingPlanner
@model List<VjezbePopis>

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

<div id="inputAreaTable">
    <div class="bigFont marginHeadline">Vježbe</div>
    <table class="responstable">
         
    @foreach (VjezbePopis vjp in Model) {
            if(vjp.VjezbeId == 0)
        {
            <tr>
                <td class="smallFont">Trenutno nema vježbi.</td>
            </tr>
        }
        else
        {
            <tr class="smallFont">
                <td>@vjp.ImeVjezbe</td> <td>@vjp.Info</td> 
                <td>@Html.ActionLink("Izbriši", "IzbrisiVjezbu", "Home", new { id = vjp.VjezbeId }, new { @class = "button_example_small" })</td> 
                <td>@Html.ActionLink("Izmjeni", "IzmijeniVjezbu", "Home", new { id = vjp.VjezbeId }, new { @class = "button_example_small" })</td>
                <td>@Html.ActionLink("Detalji", "DetaljiVjezbe", "Home", new { id = vjp.VjezbeId }, new { @class = "button_example_small" })</td>
            </tr>
        }
    }
    </table>

    @Html.ActionLink("Dodaj", "DodajNovuVjezbu", "Home", null, new { @class = "marginHeadlineTop marginTextBottom button_example" }) 
    @Html.ActionLink("Popis članova", "Index", "Home", null, new { @class = "marginHeadlineTop marginTextBottom button_example" })
</div>