@using TrainingPlanner
@model List<VjezbePopis>

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

<div id="inputAreaTable">
    <div class="bigFont marginHeadline">Vježbe</div>
    <table class="responstable">
         
    @foreach (VjezbePopis vjp in Model) {
            if(vjp.VjezbeId == 0)
        {
            <tr>
                <td class="smallFont">Trenutno nema vježbi.</td>
            </tr>
        }
        else
        {
            <tr class="smallFont">
                <td>@vjp.ImeVjezbe</td> <td>@vjp.Info</td> 
                <td><div class="button_example_small">@Html.ActionLink("Izbrisi", "IzbrisiVjezbu", "Home", new {id = vjp.VjezbeId}, null)</div></td> 
                <td><div class="button_example_small">@Html.ActionLink("Izmijeni", "IzmijeniVjezbu", "Home", new {id = vjp.VjezbeId}, null)</div></td>
                <td><div class="button_example_small">@Html.ActionLink("Detalji", "DetaljiVjezbe", "Home", new {id = vjp.VjezbeId}, null)</div></td>
            </tr>
        }
    }
    </table>
    <div class="marginHeadlineTop marginTextBottom button_example">
        @Html.ActionLink("Dodaj", "DodajNovuVjezbu", "Home") 
    </div>
    <div class="marginHeadlineTop marginTextBottom button_example">
        @Html.ActionLink("Natrag na popis članova", "Index", "Home")
    </div>
</div>