@using TrainingPlanner
@model List<ZagrijavanjePopis>

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}
<div id="inputAreaTable">
    <div class="bigFont marginHeadline">Zagrijavanje</div>
    <table class="responstable">
  
        @foreach (ZagrijavanjePopis zp in Model)
        {
            if (zp.ZagrijavanjeId == 0)
            {
                <tr>
                    <td class="smallFont">Trenutno nema vježbi zagrijavanja.</td>
                </tr>
            }
            else
            {
                <tr class="smallFont">
                    <td>@zp.Naziv</td> <td>@zp.Info</td> 
                    <td><div class="button_example_small">@Html.ActionLink("Izbriši", "IzbrisiZagrijavanje", "Home", new {id = zp.ZagrijavanjeId}, null)</div></td> 
                    <td><div class="button_example_small">@Html.ActionLink("Izmjeni", "IzmijeniZagrijavanje", "Home", new {id = zp.ZagrijavanjeId}, null)</div></td>
                    <td><div class="button_example_small">@Html.ActionLink("Detalji", "DetaljiZagrijavanja", "Home", new {id = zp.ZagrijavanjeId}, null)</div></td>
                </tr>
            }
        }
    </table>
    <div class="marginHeadlineTop marginTextBottom button_example">
        @Html.ActionLink("Dodaj", "DodajNovoZagrijavanje", "Home")     
    </div>
    <div class="marginHeadlineTop marginTextBottom button_example">
        @Html.ActionLink("Natrag na popis članova", "Index", "Home")
    </div>
</div>
    
