@model TrainingPlanner.IstezanjePopis

@{
    Layout = "~/Views/_LayoutWithCSS.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Izmijeni Istezanje</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>ZagrijavanjePopis</legend>   
            
                @Html.HiddenFor(model => model.IstezanjeId)

            <div class="editor-label">
                @Html.LabelFor(model => model.Naziv)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Naziv)
                @Html.ValidationMessageFor(model => model.Naziv)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Info)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Info)
                @Html.ValidationMessageFor(model => model.Info)
            </div>
    
            <p>
                <input type="submit" value="Spremi izmijene" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Natrag na Popis Istezanja", "IstezanjePopis")
    </div>
</body>
</html>
