<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Grid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Vanjski.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/form.css")" rel="stylesheet" type="text/css" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
